Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

refactor(profile): update profile forms and controller
  Modules/Core/app/Http/Controllers/ProfileController.php
  resources/js/Pages/Profile/Partials/DeleteUserForm.jsx
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier, pint

refactor(modules): update module pages with React Hook Form integration
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Create.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Users/Create.jsx
  Modules/Core/resources/assets/js/Pages/Users/Edit.jsx
  Modules/Media/resources/assets/js/Pages/Index.jsx
  Modules/Newsletter/resources/assets/js/Pages/Create.jsx
  Modules/Newsletter/resources/assets/js/Pages/Edit.jsx
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(validation): add zod schemas for form validation
  Modules/Blog/resources/assets/js/Schemas/blogSchemas.js
  Modules/Categories/resources/assets/js/Schemas/categorySchemas.js
  Modules/Core/resources/assets/js/Schemas/profileSchemas.js
  Modules/Core/resources/assets/js/Schemas/roleSchemas.js
  Modules/Core/resources/assets/js/Schemas/userSchemas.js
  Modules/Newsletter/resources/assets/js/Schemas/newsletterSchemas.js
  Modules/Settings/resources/assets/js/Schemas/settingsSchemas.js
Due: eslint, prettier

feat(validation): add reusable zod validation utilities
  resources/js/Utils/validation.js
Due: eslint, prettier

feat(queries): add react query hooks for external API calls
  resources/js/Hooks/queries/README.md
  resources/js/Hooks/queries/useApiMutation.js
  resources/js/Hooks/queries/useApiQuery.js
  resources/js/Hooks/queries/useCachedData.js
  resources/js/Hooks/queries/useExternalData.js
Due: eslint, prettier

feat(navigation): add navigation tracking hook
  resources/js/Hooks/useNavigationTracking.js
Due: eslint, prettier

refactor(forms): clean up inline comments in form pages
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Create.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Users/Create.jsx
  Modules/Core/resources/assets/js/Pages/Users/Edit.jsx
  Modules/Newsletter/resources/assets/js/Pages/Create.jsx
  Modules/Newsletter/resources/assets/js/Pages/Edit.jsx
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

refactor(hooks): clean up inline comments in hooks and utilities
  resources/js/Hooks/useInertiaForm.js
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
Due: eslint, prettier

refactor(components): clean up inline comments in components and stores
  resources/js/Components/AppSidebar.jsx
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
  resources/js/Providers/QueryProvider.jsx
  resources/js/Stores/useAppStore.js
  resources/js/Stores/useUISettingsStore.js
Due: eslint, prettier

refactor(components): remove unused PageTransition component
  resources/js/Components/PageTransition.jsx
Due: eslint, prettier

feat(app): implement code splitting with React.lazy and Suspense
  resources/js/app.jsx
Due: eslint, prettier

feat(build): add manual chunks configuration for optimized vendor splitting
  vite.config.js
Due: none

feat(ui): add accordion component
  resources/js/Components/ui/accordion.jsx
Due: eslint, prettier

chore(deps): add @radix-ui/react-accordion dependency
  package-lock.json
  package.json
Due: none

refactor(settings): replace tabs with accordion UI and remove inline comments
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

config(eslint): add URLSearchParams to globals
  eslint.config.js
Due: none

refactor(settings): update PHPDoc comment and fix code formatting
  Modules/Settings/app/Http/Controllers/SettingsController.php
Due: pint

feat(core): add guest welcome page for users without permissions
  Modules/Core/app/Http/Controllers/GuestController.php
  Modules/Core/resources/assets/js/Pages/Guest/Welcome.jsx
Due: eslint, prettier, pint

feat(core): integrate group permissions into User model
  Modules/Core/app/Models/User.php
Due: pint

feat(core): redirect guest users to welcome page
  Modules/Core/app/Http/Controllers/DashboardController.php
  routes/web.php
Due: pint

feat(core): add group support to observers and registries
  Modules/Core/app/Observers/MenuObserver.php
  Modules/Core/app/Observers/PermissionObserver.php
  Modules/Core/app/Observers/RoleObserver.php
  Modules/Core/app/Observers/UserObserver.php
  app/Providers/AppServiceProvider.php
  app/Services/Modules/ModuleLifecycleService.php
  app/Services/Registry/MenuRegistry.php
Due: pint

refactor: remove redundant inline comments and fix imports
  Modules/Core/app/Http/Controllers/Auth/RegisteredUserController.php
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserController.php
  Modules/Core/app/Services/CoreMenuRegistrar.php
Due: pint

chore(core): update config and generated routes
  Modules/Core/config/config.php
  resources/js/ziggy.js
Due: eslint, prettier, pint

fix(core): check all permissions in guest-only user detection
  Modules/Core/app/Http/Controllers/DashboardController.php
Due: pint

feat(groups): add user transfer functionality between groups
  Modules/Groups/app/Http/Requests/TransferUserRequest.php
  Modules/Groups/database/migrations/2025_12_05_080614_create_group_has_roles_table.php
  Modules/Groups/routes/web.php
Due: pint

style(groups): improve mobile responsiveness for transfer UI
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
Due: eslint, prettier

security(groups): prevent Super Admin role assignment to groups
  Modules/Groups/app/Http/Requests/StoreGroupRequest.php
  Modules/Groups/app/Http/Requests/UpdateGroupRequest.php
  Modules/Groups/resources/assets/js/Pages/Groups/Create.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
Due: eslint, prettier, pint

feat(groups): prevent deletion of groups with members
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
Due: pint

fix(groups): use deleting event for cache clearing
  Modules/Groups/app/Observers/GroupObserver.php
Due: pint

fix(ui): add ESLint disable comments for framer-motion imports
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  resources/js/Components/ui/accordion.jsx
  resources/js/Components/ui/alert-dialog.jsx
  resources/js/Components/ui/dialog.jsx
  resources/js/Components/ui/dropdown-menu.jsx
  resources/js/Components/ui/popover.jsx
  resources/js/Components/ui/sheet.jsx
  resources/js/Components/ui/tabs.jsx
Due: eslint, prettier

feat(groups): add roles relationship to Group model
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Services/GroupCacheService.php
  Modules/Groups/app/Traits/HasGroups.php
Due: pint

feat(ui): add Select component and update group schemas
  Modules/Groups/resources/assets/js/Components/MemberSelect.jsx
  Modules/Groups/resources/assets/js/Schemas/groupSchemas.js
  resources/js/Components/ui/select.jsx
Due: eslint, prettier

chore(deps): update package dependencies
  package-lock.json
  package.json
Due: none

chore: update generated routes and menu registrar
  Modules/Core/app/Services/CoreMenuRegistrar.php
  resources/js/ziggy.js
Due: eslint, prettier, pint

feat(groups): add Role groups relationship macro
  Modules/Groups/app/Providers/GroupsServiceProvider.php
Due: pint

feat(users): add groups column support with optimized eager loading
  Modules/Core/app/Http/Controllers/UserController.php
Due: pint

feat(groups): add base roles column with optimized loading
  Modules/Groups/app/Http/Controllers/GroupsController.php
Due: pint

feat(roles): add inherit column showing associated groups
  Modules/Core/app/Http/Controllers/RoleController.php
Due: pint

feat(users): add group column to users table
  Modules/Core/resources/assets/js/Pages/Users/Index.jsx
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier: any of: **/*.{js,jsx,ts,tsx}
  pint: any of: *.php
