Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

feat(app): add 403 error handling for Inertia requests
  bootstrap/app.php
Due: pint

chore(ziggy): add newsletter routes and reorder storage route
  resources/js/ziggy.js
Due: eslint, prettier

feat(helpers): add file size and migration helper functions
  app/Helpers/file_size.php
  app/Helpers/migrations.php
Due: pint

feat(services): add core application services for shared data, config, media, and migrations
  app/Services/AppConfigService.php
  app/Services/InertiaSharedDataService.php
  app/Services/MediaConfigService.php
  app/Services/MediaUploader.php
  app/Services/ProtectedModuleMigrationService.php
  app/Services/StorageLinkService.php
Due: pint

refactor(inertia): extract shared data logic to dedicated service
  app/Http/Middleware/HandleInertiaRequests.php
  app/Providers/AppServiceProvider.php
Due: pint

feat(modules): improve dependency resolution in module auto-installation
  app/Services/Modules/ModuleDependencyValidator.php
  app/Services/Modules/ModuleDiscoveryService.php
Due: pint

feat(exceptions): improve API error response handling with detailed messages
  bootstrap/app.php
Due: pint

refactor(modules): use dependency injection in service providers instead of app() calls
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

feat(media): add media module with file upload and management
  Modules/Media/app/Console/CleanupTemporaryMedia.php
  Modules/Media/app/Http/Controllers/.gitkeep
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/app/Http/Requests/UploadMediaRequest.php
  Modules/Media/app/Models/MediaFile.php
  Modules/Media/app/Policies/MediaFilePolicy.php
  Modules/Media/app/Providers/.gitkeep
  Modules/Media/app/Providers/AuthServiceProvider.php
  Modules/Media/app/Providers/EventServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Media/app/Providers/RouteServiceProvider.php
  Modules/Media/composer.json
  Modules/Media/config/.gitkeep
  Modules/Media/config/config.php
  Modules/Media/database/factories/.gitkeep
  Modules/Media/database/migrations/.gitkeep
  Modules/Media/database/migrations/2025_11_30_165152_create_media_files_table.php
  Modules/Media/database/seeders/.gitkeep
  Modules/Media/database/seeders/MediaDatabaseSeeder.php
  Modules/Media/database/seeders/MediaPermissionSeeder.php
  Modules/Media/module.json
  Modules/Media/resources/assets/.gitkeep
  Modules/Media/resources/assets/js/app.js
  Modules/Media/resources/assets/sass/app.scss
  Modules/Media/resources/views/.gitkeep
  Modules/Media/resources/views/components/layouts/master.blade.php
  Modules/Media/resources/views/index.blade.php
  Modules/Media/routes/.gitkeep
  Modules/Media/routes/api.php
  Modules/Media/routes/web.php
  Modules/Media/tests/Feature/.gitkeep
  Modules/Media/tests/Unit/.gitkeep
Due: eslint, prettier, pint

feat(profile): add avatar upload functionality to user profile
  Modules/Core/app/Http/Controllers/ProfileController.php
  Modules/Core/app/Http/Requests/ProfileUpdateRequest.php
  Modules/Core/app/Models/User.php
Due: pint

feat(frontend): add FilePicker component and media management pages
  resources/js/Components/Form/FilePicker.jsx
  resources/js/Pages/Media/Index.jsx
  resources/js/Pages/Profile/Edit.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier

chore(deps): add intervention/image package and helper autoloading
  composer.json
  composer.lock
Due: none

chore(frontend): update ESLint config and add CSRF token meta tag
  eslint.config.js
  resources/js/ziggy.js
  resources/views/app.blade.php
Due: eslint, prettier, pint

feat(services): add ExceptionResponseService for centralized exception handling
  app/Services/ExceptionResponseService.php
Due: pint

refactor(exceptions): extract exception handling logic to ExceptionResponseService
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
Due: pint

feat(audit-log): add audit log module with activity tracking
  Modules/AuditLog/app/Console/Commands/CleanupAuditLogsCommand.php
  Modules/AuditLog/app/Http/Controllers/.gitkeep
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Policies/AuditLogPolicy.php
  Modules/AuditLog/app/Providers/.gitkeep
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Providers/AuthServiceProvider.php
  Modules/AuditLog/app/Providers/EventServiceProvider.php
  Modules/AuditLog/app/Providers/RouteServiceProvider.php
  Modules/AuditLog/app/Traits/LogsActivity.php
  Modules/AuditLog/app/Traits/SyncsRelationshipsWithAuditLog.php
  Modules/AuditLog/composer.json
  Modules/AuditLog/config/.gitkeep
  Modules/AuditLog/config/config.php
  Modules/AuditLog/database/factories/.gitkeep
  Modules/AuditLog/database/migrations/.gitkeep
  Modules/AuditLog/database/migrations/2025_12_01_020235_create_audit_logs_table.php
  Modules/AuditLog/database/seeders/.gitkeep
  Modules/AuditLog/database/seeders/AuditLogDatabaseSeeder.php
  Modules/AuditLog/database/seeders/AuditLogPermissionSeeder.php
  Modules/AuditLog/module.json
  Modules/AuditLog/resources/assets/.gitkeep
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
  Modules/AuditLog/resources/assets/js/app.js
  Modules/AuditLog/resources/assets/sass/app.scss
  Modules/AuditLog/resources/views/.gitkeep
  Modules/AuditLog/resources/views/components/layouts/master.blade.php
  Modules/AuditLog/resources/views/index.blade.php
  Modules/AuditLog/routes/.gitkeep
  Modules/AuditLog/routes/api.php
  Modules/AuditLog/routes/web.php
  Modules/AuditLog/tests/Feature/.gitkeep
  Modules/AuditLog/tests/Unit/.gitkeep
Due: eslint, prettier, pint

feat(audit-log): add observers for role and permission models
  Modules/Core/app/Observers/PermissionObserver.php
  Modules/Core/app/Observers/RoleObserver.php
Due: pint

feat(audit-log): register role and permission observers in CoreServiceProvider
  Modules/Core/app/Providers/CoreServiceProvider.php
Due: pint

feat(audit-log): integrate LogsActivity trait in models
  Modules/Blog/app/Models/Post.php
  Modules/Core/app/Models/User.php
  Modules/Media/app/Models/MediaFile.php
  Modules/Newsletter/app/Models/Campaign.php
  Modules/Settings/app/Models/Setting.php
Due: pint

feat(audit-log): add relationship syncing with audit log in controllers
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserController.php
Due: pint

config: update timezone configuration and media module priority
  Modules/Media/module.json
  config/app.php
Due: pint

fix(frontend): fix relative date calculation in format utility
  resources/js/Utils/format.js
Due: eslint, prettier

chore: update ziggy routes
  resources/js/ziggy.js
Due: eslint, prettier

chore(modules): add AuditLog dependency to Blog and Newsletter modules
  Modules/Blog/module.json
  Modules/Newsletter/module.json
Due: none

feat(auditlog): add auditable validation and request-level caching
  Modules/AuditLog/app/Models/AuditLog.php
Due: pint

refactor(auditlog): improve filtering and add batch relationship loading
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
Due: pint

feat(auditlog): add system filter and event types support
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(categories): add categories module with CRUD functionality
  Modules/Categories/app/Http/Controllers/.gitkeep
  Modules/Categories/app/Http/Controllers/CategoriesController.php
  Modules/Categories/app/Http/Requests/StoreCategoryRequest.php
  Modules/Categories/app/Http/Requests/UpdateCategoryRequest.php
  Modules/Categories/app/Models/Category.php
  Modules/Categories/app/Policies/CategoryPolicy.php
  Modules/Categories/app/Providers/.gitkeep
  Modules/Categories/app/Providers/AuthServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Categories/app/Providers/EventServiceProvider.php
  Modules/Categories/app/Providers/RouteServiceProvider.php
  Modules/Categories/composer.json
  Modules/Categories/config/.gitkeep
  Modules/Categories/config/config.php
  Modules/Categories/database/factories/.gitkeep
  Modules/Categories/database/factories/CategoryFactory.php
  Modules/Categories/database/migrations/.gitkeep
  Modules/Categories/database/migrations/2025_12_01_114707_create_categories_table.php
  Modules/Categories/database/seeders/.gitkeep
  Modules/Categories/database/seeders/CategoriesDatabaseSeeder.php
  Modules/Categories/database/seeders/CategoriesPermissionSeeder.php
  Modules/Categories/module.json
  Modules/Categories/resources/assets/.gitkeep
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Categories/resources/assets/js/Pages/Index.jsx
  Modules/Categories/resources/assets/js/app.js
  Modules/Categories/resources/assets/sass/app.scss
  Modules/Categories/resources/views/.gitkeep
  Modules/Categories/resources/views/components/layouts/master.blade.php
  Modules/Categories/resources/views/index.blade.php
  Modules/Categories/routes/.gitkeep
  Modules/Categories/routes/api.php
  Modules/Categories/routes/web.php
  Modules/Categories/tests/Feature/.gitkeep
  Modules/Categories/tests/Unit/.gitkeep
Due: eslint, prettier, pint

feat(registry): add CategoryRegistry service for module category management
  app/Services/Registry/CategoryRegistry.php
Due: pint

feat(modules): integrate CategoryRegistry into module lifecycle
  app/Providers/AppServiceProvider.php
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

refactor(registry): add transaction support and error handling to SettingsRegistry
  app/Services/Registry/SettingsRegistry.php
  app/Services/Registry/SettingsService.php
Due: pint

feat(auditlog): add dynamic filter options and avatar loading
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
Due: eslint, prettier, pint

fix(core): update page headers and add avatar loading to user queries
  Modules/Core/app/Http/Controllers/UserController.php
  Modules/Core/resources/assets/js/Pages/Roles/Create.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Index.jsx
  Modules/Core/resources/assets/js/Pages/Users/Create.jsx
  Modules/Core/resources/assets/js/Pages/Users/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Users/Index.jsx
Due: eslint, prettier, pint

chore(routes): update ziggy routes for categories module
  resources/js/ziggy.js
Due: eslint, prettier

refactor(services): reorganize services into subdirectories
  app/Services/Core/AppConfigService.php
  app/Services/Core/ExceptionResponseService.php
  app/Services/Core/InertiaSharedDataService.php
  app/Services/Core/StorageLinkService.php
  app/Services/Data/DatatableQueryService.php
  app/Services/Media/MediaConfigService.php
  app/Services/Media/MediaUploader.php
  app/Services/Modules/ProtectedModuleMigrationService.php
  app/Services/Registry/MenuRegistry.php
  app/Services/Registry/SettingsRegistry.php
  app/Services/Registry/SettingsService.php
Due: pint

refactor(app): update service namespace imports
  app/Helpers/settings.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Providers/AppServiceProvider.php
Due: pint

refactor(modules): update service provider imports
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

refactor(controllers): update service namespace imports
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserController.php
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Http/Requests/UpdateSettingsRequest.php
Due: pint

refactor(core): remove settings permission from core seeder
  Modules/Core/database/seeders/CorePermissionSeeder.php
Due: pint
