Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

feat(groups): display role names in base roles column
  Modules/Groups/resources/assets/js/Pages/Groups/Index.jsx
Due: eslint, prettier

feat(roles): add inherit column showing associated groups
  Modules/Core/resources/assets/js/Pages/Roles/Index.jsx
Due: eslint, prettier

fix(dashboard): include uninstalled modules in inactive count
  Modules/Core/app/Http/Controllers/DashboardController.php
Due: pint

feat(roles): prevent deletion of roles used as base role in groups
  Modules/Core/app/Http/Controllers/RoleController.php
Due: pint

chore(ziggy): update generated routes file
  resources/js/ziggy.js
Due: eslint, prettier

feat(groups): add form requests for bulk member management
  Modules/Groups/app/Http/Requests/AddMembersRequest.php
  Modules/Groups/app/Http/Requests/RemoveMembersRequest.php
  Modules/Groups/app/Http/Requests/TransferMembersRequest.php
Due: pint

feat(groups): add routes for bulk member management
  Modules/Groups/routes/web.php
Due: pint

feat(groups): add bulk member management controller methods
  Modules/Groups/app/Http/Controllers/GroupsController.php
Due: pint

refactor(groups): remove deprecated single-user transfer
  Modules/Groups/app/Http/Requests/TransferUserRequest.php
Due: pint

refactor(groups): move member management from edit to show page
  Modules/Groups/app/Http/Requests/UpdateGroupRequest.php
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
  Modules/Groups/resources/assets/js/Schemas/groupSchemas.js
Due: eslint, prettier, pint

feat(groups): add member management UI with table and bulk operations
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
Due: eslint, prettier

feat(groups): add member dialog component and super admin utilities
  Modules/Groups/resources/assets/js/Components/MemberDialog.jsx
  Modules/Groups/resources/assets/js/Utils/userUtils.js
Due: eslint, prettier

chore(groups): update module config and route definitions
  Modules/Groups/module.json
  resources/js/ziggy.js
Due: eslint, prettier

chore(settings): update default app logo icon
  Modules/Settings/app/Services/SettingsSettingsRegistrar.php
Due: pint

refactor(core): improve module status service with version support
  Modules/Core/app/Http/Controllers/ModuleManagerController.php
  app/Services/Modules/ModuleStatusService.php
Due: pint

feat(core): add user search API endpoint
  Modules/Core/app/Http/Controllers/Api/UserController.php
  Modules/Core/routes/api.php
Due: pint

perf(core): implement cache tags for user search
  Modules/Core/app/Observers/UserObserver.php
  Modules/Core/config/config.php
Due: pint

feat(core): add bulk user creation command
  Modules/Core/app/Console/BulkCreateUsersCommand.php
  Modules/Core/app/Providers/CoreServiceProvider.php
Due: pint

refactor(groups): optimize member management operations
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Http/Requests/AddMembersRequest.php
  Modules/Groups/app/Http/Requests/RemoveMembersRequest.php
  Modules/Groups/app/Http/Requests/TransferMembersRequest.php
  Modules/Groups/routes/web.php
Due: pint

config(groups): move hardcoded values to configuration
  Modules/Groups/app/Policies/GroupPolicy.php
  Modules/Groups/app/Services/GroupsPermissionRegistrar.php
  Modules/Groups/config/config.php
Due: pint

perf(auditlog): optimize query performance and caching
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Models/AuditLog.php
Due: pint

refactor(frontend): improve code comments and error handling
  Modules/AuditLog/resources/assets/js/Components/UserCombobox.jsx
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
  Modules/Groups/resources/assets/js/Components/MemberSelect.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Create.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
Due: eslint, prettier

refactor(frontend): extract API base URL and version to constants
  resources/js/Utils/constants.js
Due: eslint, prettier

docs: improve code comments and documentation
  Modules/AuditLog/database/migrations/2025_12_06_024333_add_auditable_type_index_to_audit_logs_table.php
  resources/js/bootstrap.js
  resources/js/ziggy.js
Due: eslint, prettier, pint

style(core): fix formatting in bulk user creation command
  Modules/Core/app/Console/BulkCreateUsersCommand.php
Due: pint

refactor(groups): remove Blog module references from seeder
  Modules/Groups/database/seeders/GroupsDatabaseSeeder.php
Due: pint

refactor(audit-log): consolidate auditable_type index into main migration
  Modules/AuditLog/database/migrations/2025_12_01_020235_create_audit_logs_table.php
  Modules/AuditLog/database/migrations/2025_12_06_024333_add_auditable_type_index_to_audit_logs_table.php
Due: pint

perf(database): add indexes on users.name and group_user.user_id
  Modules/Core/database/migrations/0001_01_01_000000_create_users_table.php
  Modules/Groups/database/migrations/2025_12_05_043409_create_group_user_table.php
Due: pint

perf(database): add indexes on groups.name, menus.is_active, menus.parent_id, and group_has_roles.role_id
  Modules/Core/database/migrations/2025_12_02_133842_create_menus_table.php
  Modules/Groups/database/migrations/2025_12_05_043406_create_groups_table.php
  Modules/Groups/database/migrations/2025_12_05_080614_create_group_has_roles_table.php
Due: pint

chore: update Ziggy routes after module removal
  resources/js/ziggy.js
Due: eslint, prettier

feat(auth): add theme toggle to authentication layout
  Modules/Core/resources/assets/js/Layouts/AuthLayout.jsx
Due: eslint, prettier

feat(landing): add theme toggle to landing layout
  resources/js/Layouts/LandingLayout.jsx
Due: eslint, prettier

feat(core): add custom Permission and Role models with UUID support
  Modules/Core/app/Models/Permission.php
  Modules/Core/app/Models/Role.php
Due: pint

refactor(migrations): migrate all tables from integer IDs to UUIDs
  Modules/AuditLog/database/migrations/2025_12_01_020235_create_audit_logs_table.php
  Modules/Categories/database/migrations/2025_12_01_114707_create_categories_table.php
  Modules/Core/database/migrations/0001_01_01_000000_create_users_table.php
  Modules/Core/database/migrations/2025_11_27_080556_create_permission_tables.php
  Modules/Core/database/migrations/2025_12_02_133842_create_menus_table.php
  Modules/Groups/database/migrations/2025_12_05_043406_create_groups_table.php
  Modules/Groups/database/migrations/2025_12_05_043409_create_group_user_table.php
  Modules/Groups/database/migrations/2025_12_05_043412_create_group_has_permissions_table.php
  Modules/Groups/database/migrations/2025_12_05_080614_create_group_has_roles_table.php
  Modules/Media/database/migrations/2025_11_30_165152_create_media_files_table.php
  Modules/Settings/database/migrations/2025_11_30_105533_create_settings_table.php
  database/migrations/2025_11_26_145713_create_modules_statuses_table.php
Due: pint

refactor(models): add HasUuids trait to all models
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/Categories/app/Models/Category.php
  Modules/Core/app/Models/Menu.php
  Modules/Core/app/Models/User.php
  Modules/Groups/app/Models/Group.php
  Modules/Media/app/Models/MediaFile.php
  Modules/Settings/app/Models/Setting.php
Due: pint

refactor(core): replace Spatie Permission and Role imports with custom models
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserController.php
  Modules/Core/app/Http/Requests/StoreRoleRequest.php
  Modules/Core/app/Http/Requests/UpdateRoleRequest.php
  Modules/Core/app/Observers/PermissionObserver.php
  Modules/Core/app/Observers/RoleObserver.php
  Modules/Core/app/Policies/RolePolicy.php
  Modules/Core/app/Providers/AuthServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Core/app/Services/CoreDashboardService.php
  Modules/Core/app/Services/PermissionService.php
  Modules/Core/app/Services/SuperAdminService.php
  app/Services/Registry/PermissionRegistry.php
  app/Services/Registry/RoleRegistry.php
Due: pint

refactor(types): update type hints from int to string for UUID IDs
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Traits/LogsActivity.php
  Modules/AuditLog/app/Traits/SyncsRelationshipsWithAuditLog.php
  Modules/Categories/app/Http/Requests/UpdateCategoryRequest.php
  Modules/Core/app/Console/BulkCreateUsersCommand.php
  Modules/Core/app/Http/Requests/ProfileUpdateRequest.php
  Modules/Core/app/Services/PermissionCacheService.php
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Http/Requests/AddMembersRequest.php
  Modules/Groups/app/Http/Requests/RemoveMembersRequest.php
  Modules/Groups/app/Http/Requests/StoreGroupRequest.php
  Modules/Groups/app/Http/Requests/TransferMembersRequest.php
  Modules/Groups/app/Http/Requests/UpdateGroupRequest.php
  Modules/Groups/app/Services/GroupCacheService.php
  Modules/Groups/app/Services/GroupPermissionCacheService.php
  Modules/Media/app/Http/Requests/UploadMediaRequest.php
  app/Services/Registry/CategoryRegistry.php
  app/Services/Registry/MenuRegistry.php
Due: pint

refactor(frontend): update validation schemas to use UUID strings instead of numbers
  Modules/Categories/resources/assets/js/Schemas/categorySchemas.js
  Modules/Core/resources/assets/js/Schemas/profileSchemas.js
  Modules/Core/resources/assets/js/Schemas/roleSchemas.js
  Modules/Core/resources/assets/js/Schemas/userSchemas.js
  Modules/Groups/resources/assets/js/Schemas/groupSchemas.js
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier
