Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

fix(routine): remove redundant ResizeObserver global comment
  Modules/Routine/resources/assets/js/Components/ContributionHeatmap.jsx
Due: eslint, prettier

chore(vault): remove redundant eslint-disable comments for navigator
  Modules/Vault/resources/assets/js/Components/VaultCard.jsx
Due: eslint, prettier

fix(folio): correct CSS import path in Print.jsx
  Modules/Folio/resources/assets/js/Pages/Print.jsx
Due: eslint, prettier

fix(folio): use useWatch for reactive preview and fix empty state layout
  Modules/Folio/resources/assets/js/Components/ResumePreview.jsx
  Modules/Folio/resources/assets/js/Pages/Builder.jsx
Due: eslint, prettier

chore(boost): add project agent tooling
  .claude/skills/configuring-horizon/SKILL.md
  .claude/skills/configuring-horizon/references/metrics.md
  .claude/skills/configuring-horizon/references/notifications.md
  .claude/skills/configuring-horizon/references/supervisors.md
  .claude/skills/configuring-horizon/references/tags.md
  .claude/skills/echo-development/SKILL.md
  .claude/skills/echo-react-development/SKILL.md
  .claude/skills/inertia-react-development/SKILL.md
  .claude/skills/laravel-best-practices/SKILL.md
  .claude/skills/laravel-best-practices/rules/advanced-queries.md
  .claude/skills/laravel-best-practices/rules/architecture.md
  .claude/skills/laravel-best-practices/rules/blade-views.md
  .claude/skills/laravel-best-practices/rules/caching.md
  .claude/skills/laravel-best-practices/rules/collections.md
  .claude/skills/laravel-best-practices/rules/config.md
  .claude/skills/laravel-best-practices/rules/db-performance.md
  .claude/skills/laravel-best-practices/rules/eloquent.md
  .claude/skills/laravel-best-practices/rules/error-handling.md
  .claude/skills/laravel-best-practices/rules/events-notifications.md
  .claude/skills/laravel-best-practices/rules/http-client.md
  .claude/skills/laravel-best-practices/rules/mail.md
  .claude/skills/laravel-best-practices/rules/migrations.md
  .claude/skills/laravel-best-practices/rules/queue-jobs.md
  .claude/skills/laravel-best-practices/rules/routing.md
  .claude/skills/laravel-best-practices/rules/scheduling.md
  .claude/skills/laravel-best-practices/rules/security.md
  .claude/skills/laravel-best-practices/rules/style.md
  .claude/skills/laravel-best-practices/rules/testing.md
  .claude/skills/laravel-best-practices/rules/validation.md
  .claude/skills/pulse-development/SKILL.md
  .claude/skills/tailwindcss-development/SKILL.md
  .mcp.json
  AGENTS.md
  CLAUDE.md
  boost.json
Due: none

build(bot): add Telegram SDK dependency
  composer.json
  composer.lock
Due: none

build(editor): add Monaco and AlaSQL dependencies
  package-lock.json
  package.json
Due: none

feat(navigation): add developer and automation groups
  Modules/AuditLog/app/Services/AuditLogCommandRegistrar.php
  Modules/Core/app/Services/CoreCommandRegistrar.php
  Modules/Media/app/Services/MediaCommandRegistrar.php
  Modules/Settings/app/Services/SettingsCommandRegistrar.php
  Modules/Signal/app/Services/SignalCommandRegistrar.php
  app/Services/Registry/CommandRegistry.php
  app/Services/Registry/MenuRegistry.php
Due: pint

fix(ownership): scope user-owned records to current user
  Modules/Core/app/Traits/HasUserOwnership.php
  Modules/Treasury/app/Models/BudgetPeriod.php
  app/Services/Registry/DashboardWidgetRegistry.php
  tests/Feature/UserOwnershipScopeTest.php
Due: pint

fix(media): enforce upload permission and isolate listings
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/app/Http/Requests/UploadMediaRequest.php
  tests/Feature/MediaAuthorizationAndListingTest.php
Due: pint

fix(settings): authorize updates through policy
  Modules/Settings/app/Http/Requests/UpdateSettingsRequest.php
  tests/Feature/SettingsUpdateAuthorizationTest.php
Due: pint

fix(routine): align habit validation across client and server
  Modules/Routine/app/Http/Requests/StoreHabitRequest.php
  Modules/Routine/app/Http/Requests/UpdateHabitRequest.php
  Modules/Routine/resources/assets/js/Pages/Index.jsx
  Modules/Routine/resources/assets/js/Schemas/routineSchemas.js
  tests/Feature/RoutineHabitRequestValidationTest.php
Due: eslint, prettier, pint

fix(forms): prevent duplicate Inertia notifications
  Modules/Treasury/resources/assets/js/Pages/Budgets/Create.jsx
  Modules/Treasury/resources/assets/js/Pages/Budgets/Edit.jsx
  Modules/Treasury/resources/assets/js/Pages/Goals/Create.jsx
  Modules/Treasury/resources/assets/js/Pages/Goals/Edit.jsx
  Modules/Treasury/resources/assets/js/Pages/Goals/Show.jsx
  Modules/Treasury/resources/assets/js/Pages/Transactions/Create.jsx
  Modules/Treasury/resources/assets/js/Pages/Transactions/Edit.jsx
  Modules/Treasury/resources/assets/js/Pages/Wallets/Create.jsx
  Modules/Treasury/resources/assets/js/Pages/Wallets/Edit.jsx
  resources/js/Hooks/useInertiaForm.js
Due: eslint, prettier

fix(signal): improve notification feedback and rendering
  Modules/Signal/resources/assets/js/Components/SignalDropdown.jsx
  Modules/Signal/resources/assets/js/Components/SignalItem.jsx
  Modules/Signal/resources/assets/js/Pages/Index.jsx
  Modules/Signal/resources/assets/js/Utils/notificationSound.js
Due: eslint, prettier

fix(treasury): resize net worth summary on mobile
  Modules/Treasury/resources/assets/js/Components/NetWorthBanner.jsx
Due: eslint, prettier

refactor(folio): move writes into form requests
  Modules/Folio/app/Http/Controllers/FolioController.php
  Modules/Folio/app/Http/Requests/StoreFolioRequest.php
  Modules/Folio/app/Http/Requests/UpdateFolioRequest.php
Due: pint

feat(folio): add dashboard and command integration
  Modules/Folio/app/Http/Controllers/FolioDashboardController.php
  Modules/Folio/app/Models/FolioData.php
  Modules/Folio/app/Observers/FolioDataObserver.php
  Modules/Folio/app/Observers/FolioObserver.php
  Modules/Folio/app/Providers/EventServiceProvider.php
  Modules/Folio/app/Providers/FolioServiceProvider.php
  Modules/Folio/app/Services/FolioCommandRegistrar.php
  Modules/Folio/app/Services/FolioDashboardService.php
  Modules/Folio/app/Services/FolioMenuRegistrar.php
  Modules/Folio/app/Services/FolioPermissionRegistrar.php
  Modules/Folio/resources/assets/js/Pages/Dashboard.jsx
  Modules/Folio/routes/web.php
  tests/Feature/FolioDashboardTest.php
Due: eslint, prettier, pint

feat(quickdraw): add dashboard and command integration
  Modules/QuickDraw/app/Http/Controllers/QuickDrawDashboardController.php
  Modules/QuickDraw/app/Models/QuickDrawState.php
  Modules/QuickDraw/app/Observers/QuickDrawObserver.php
  Modules/QuickDraw/app/Observers/QuickDrawStateObserver.php
  Modules/QuickDraw/app/Providers/EventServiceProvider.php
  Modules/QuickDraw/app/Providers/QuickDrawServiceProvider.php
  Modules/QuickDraw/app/Services/QuickDrawCommandRegistrar.php
  Modules/QuickDraw/app/Services/QuickDrawDashboardService.php
  Modules/QuickDraw/app/Services/QuickDrawMenuRegistrar.php
  Modules/QuickDraw/app/Services/QuickDrawPermissionRegistrar.php
  Modules/QuickDraw/resources/assets/js/Pages/Dashboard.jsx
  Modules/QuickDraw/routes/web.php
  tests/Feature/QuickDrawDashboardTest.php
Due: eslint, prettier, pint

build(vite): configure module aliases and dev server
  vite.config.js
Due: none

feat(ui): register automation module icons
  resources/js/Utils/iconResolver.js
Due: eslint, prettier

feat(registry): add webhook extension contracts
  app/Providers/AppServiceProvider.php
  app/Services/Registry/HookEventRegistryInterface.php
  app/Services/Registry/HookInboundProcessorInterface.php
  app/Services/Registry/HookInboundProcessorRegistry.php
Due: pint

feat(routine): register bot and webhook integrations
  Modules/Routine/app/Providers/RoutineServiceProvider.php
  Modules/Routine/app/Services/RoutineBotRegistrar.php
  Modules/Routine/app/Services/RoutineHookRegistrar.php
Due: pint

feat(treasury): register transaction webhook events
  Modules/Treasury/app/Providers/TreasuryServiceProvider.php
  Modules/Treasury/app/Services/TreasuryHookRegistrar.php
Due: pint

feat(sandbox): add inventory webhook pipeline
  Modules/Sandbox/app/Http/Controllers/SandboxController.php
  Modules/Sandbox/app/Jobs/ApplyInventoryAdjustmentJob.php
  Modules/Sandbox/app/Jobs/ReviewInventoryAdjustmentJob.php
  Modules/Sandbox/app/Models/SandboxIntake.php
  Modules/Sandbox/app/Models/SandboxInventoryLevel.php
  Modules/Sandbox/app/Processors/SandboxInboundProcessor.php
  Modules/Sandbox/app/Providers/AuthServiceProvider.php
  Modules/Sandbox/app/Providers/EventServiceProvider.php
  Modules/Sandbox/app/Providers/RouteServiceProvider.php
  Modules/Sandbox/app/Providers/SandboxServiceProvider.php
  Modules/Sandbox/app/Services/Handlers/SandboxInboundReceivedHandler.php
  Modules/Sandbox/app/Services/SandboxMenuRegistrar.php
  Modules/Sandbox/app/Services/SandboxPayloadProcessingService.php
  Modules/Sandbox/app/Services/SandboxPermissionRegistrar.php
  Modules/Sandbox/app/Services/SandboxSignalRegistrar.php
  Modules/Sandbox/composer.json
  Modules/Sandbox/config/config.php
  Modules/Sandbox/database/migrations/2026_04_11_120000_create_sandbox_intakes_table.php
  Modules/Sandbox/database/migrations/2026_04_11_120100_create_sandbox_inventory_levels_table.php
  Modules/Sandbox/module.json
  Modules/Sandbox/resources/assets/js/Pages/Index.jsx
  Modules/Sandbox/resources/views/.gitkeep
  Modules/Sandbox/routes/api.php
  Modules/Sandbox/routes/web.php
  config/horizon.php
  tests/Feature/Sandbox/SandboxProcessingTest.php
Due: eslint, prettier, pint

fix(proxy): constrain trusted proxy configuration
  app/Providers/AppServiceProvider.php
  bootstrap/app.php
  config/app.php
Due: pint

chore(env): document integration configuration
  .env.example
Due: none

test(modules): colocate module test suites
  Modules/Bot/tests/Feature/BotIntegrationTest.php
  Modules/Core/tests/Feature/Auth/AuthenticationTest.php
  Modules/Core/tests/Feature/Auth/EmailVerificationTest.php
  Modules/Core/tests/Feature/Auth/PasswordConfirmationTest.php
  Modules/Core/tests/Feature/Auth/PasswordResetTest.php
  Modules/Core/tests/Feature/Auth/PasswordUpdateTest.php
  Modules/Core/tests/Feature/Auth/RegistrationTest.php
  Modules/Core/tests/Feature/ProfileTest.php
  Modules/Core/tests/Feature/UserOwnershipScopeTest.php
  Modules/Folio/tests/Feature/FolioDashboardTest.php
  Modules/Hook/tests/Feature/HookSecurityTest.php
  Modules/Hook/tests/Unit/PublicHttpUrlTest.php
  Modules/Media/tests/Feature/MediaAuthorizationAndListingTest.php
  Modules/Nucleus/tests/Feature/NucleusSnippetTest.php
  Modules/QuickDraw/tests/Feature/QuickDrawDashboardTest.php
  Modules/Routine/tests/Feature/RoutineHabitRequestValidationTest.php
  Modules/Sandbox/tests/Feature/SandboxProcessingTest.php
  Modules/Settings/tests/Feature/SettingsUpdateAuthorizationTest.php
  Modules/Treasury/tests/Feature/BudgetPeriodOwnershipScopeTest.php
  phpunit.xml
Due: pint

build(php): require PHP 8.4.1
  composer.json
  composer.lock
Due: none

build(deps): update Laravel runtime packages
  composer.lock
Due: none

build(dev-deps): update Laravel tooling
  composer.lock
Due: none

chore(boost): refresh generated guidelines
  AGENTS.md
  CLAUDE.md
Due: none

build(deps): refresh compatible transitive packages
  composer.lock
Due: none

build(deps): update URI template polyfill
  composer.lock
Due: none

fix(quickdraw): use FormTextareaRHF for description field
  Modules/QuickDraw/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(tldraw): bundle assets locally via @tldraw/assets
  Modules/QuickDraw/resources/assets/js/Pages/Show.jsx
  package-lock.json
  package.json
  vite.config.js
Due: eslint, prettier

chore(phpunit): configure TRUSTED_PROXIES for HTTPS testing
  phpunit.xml
Due: none
