Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

refactor(services): update services and modules for UUID support
  Modules/Core/config/permission.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  app/Services/Modules/DatabaseActivator.php
  app/Services/Modules/ModuleStatusService.php
Due: pint

style(ziggy): minify ziggy routes configuration
  resources/js/ziggy.js
Due: eslint, prettier

refactor(audit-log): change event column from enum to string
  Modules/AuditLog/database/migrations/2025_12_01_020235_create_audit_logs_table.php
Due: pint

feat(audit-log): add AuditLogEvent enum for event type constants
  Modules/AuditLog/app/Enums/AuditLogEvent.php
Due: pint

feat(audit-log): add DispatchAuditLog trait for controllers
  Modules/AuditLog/app/Traits/DispatchAuditLog.php
Due: pint

feat(audit-log): add frontend utility functions
  Modules/AuditLog/resources/assets/js/Utils/auditLogHelpers.jsx
  Modules/AuditLog/resources/assets/js/Utils/datePatterns.js
Due: eslint, prettier

refactor(audit-log): improve core audit log infrastructure
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Traits/LogsActivity.php
  Modules/AuditLog/app/Traits/SyncsRelationshipsWithAuditLog.php
Due: pint

refactor(audit-log): update controller and service to use enum
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
Due: pint

feat(auth): add audit logging for authentication events
  Modules/Core/app/Http/Controllers/Auth/AuthenticatedSessionController.php
  Modules/Core/app/Http/Controllers/Auth/NewPasswordController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordResetLinkController.php
  Modules/Core/app/Http/Controllers/Auth/RegisteredUserController.php
  Modules/Core/app/Http/Controllers/Auth/VerifyEmailController.php
Due: pint

feat(profile): add audit logging for profile changes
  Modules/Core/app/Http/Controllers/ProfileController.php
  Modules/Core/app/Http/Requests/ProfileUpdateRequest.php
Due: pint

feat(media): add audit logging for file operations
  Modules/Media/app/Models/MediaFile.php
Due: pint

refactor(observers): use AuditLogEvent enum constants
  Modules/Core/app/Observers/PermissionObserver.php
  Modules/Core/app/Observers/RoleObserver.php
Due: pint

refactor(groups): use AuditLogEvent enum and improve imports
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
Due: pint

feat(audit-log): enhance frontend UI for new event types
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
Due: eslint, prettier

fix(profile): preserve empty string for avatar deletion
  resources/js/Hooks/useInertiaForm.js
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier

refactor(models): update models to use LogsActivity trait
  Modules/Categories/app/Models/Category.php
  Modules/Core/app/Models/Menu.php
  Modules/Core/app/Models/User.php
  Modules/Groups/app/Models/Group.php
  Modules/Settings/app/Models/Setting.php
Due: pint

chore: update related files for audit log changes
  Modules/Core/app/Console/BulkCreateUsersCommand.php
  app/Services/Core/SettingsService.php
  resources/js/Utils/format.js
Due: eslint, prettier, pint

feat(audit-log): add formatter factory and helper for audit log formatting
  Modules/AuditLog/app/Services/AuditLogFormatterFactory.php
  Modules/AuditLog/app/Services/AuditLogFormattingHelper.php
  Modules/AuditLog/app/Services/Formatters/AuditLogFormatter.php
  Modules/AuditLog/app/Services/Formatters/AuthenticationEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/FileEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/GenericEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/RelationshipEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/UserEventFormatter.php
Due: pint

feat(core): add guest user check trait and welcome controller
  Modules/Core/app/Http/Controllers/WelcomeController.php
  Modules/Core/app/Traits/ChecksGuestUser.php
Due: pint

feat(groups): add group member management service and controller
  Modules/Groups/app/Http/Controllers/GroupMemberController.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/routes/web.php
Due: pint

feat(groups): add groups dashboard with widgets
  Modules/Groups/app/Http/Controllers/GroupsDashboardController.php
  Modules/Groups/app/Services/GroupsDashboardService.php
  Modules/Groups/resources/assets/js/Pages/Dashboard.jsx
Due: eslint, prettier, pint

feat(groups): add role service and settings registrar
  Modules/Groups/app/Services/GroupsRoleService.php
  Modules/Groups/app/Services/GroupsSettingsRegistrar.php
Due: pint

feat(groups): add group member management UI components
  Modules/Groups/resources/assets/js/Pages/Groups/Components/AddMembersDialog.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/GroupDetailsCard.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/MembersCard.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/PermissionsCard.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/TransferMembersDialog.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Hooks/useAvailableUsers.js
  Modules/Groups/resources/assets/js/Pages/Groups/Hooks/useGroupMembers.js
Due: eslint, prettier

feat(ui): add pagination sync hook for server-side tables
  resources/js/Hooks/usePaginationSync.js
Due: eslint, prettier

feat(ui): standardize date formatting across index pages
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/Categories/resources/assets/js/Pages/Index.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Index.jsx
  Modules/Core/resources/assets/js/Pages/Users/Index.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Index.jsx
  Modules/Media/resources/assets/js/Pages/Index.jsx
  resources/js/Utils/format.js
Due: eslint, prettier

refactor(ui): replace manual pagination sync with usePaginationSync hook
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
Due: eslint, prettier

refactor(audit-log): use formatter factory in AuditLog model
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
Due: pint

feat(groups): register dashboard, settings, and role services
  Modules/Groups/app/Providers/GroupsServiceProvider.php
Due: pint

refactor(groups): remove member management from GroupsController
  Modules/Groups/app/Http/Controllers/GroupsController.php
Due: pint

refactor(ui): extract widget grid rendering logic
  resources/js/Components/Dashboard/ModuleSection.jsx
Due: eslint, prettier

chore(audit-log): update service registrations and configuration
  Modules/AuditLog/app/Enums/AuditLogEvent.php
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
  Modules/AuditLog/app/Services/AuditLogMenuRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSettingsRegistrar.php
  Modules/AuditLog/config/config.php
Due: pint

chore(groups): update service registrations and API integration
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Observers/GroupObserver.php
  Modules/Groups/app/Services/GroupsGroupRegistrar.php
  Modules/Groups/app/Services/GroupsMenuRegistrar.php
  Modules/Groups/app/Services/GroupsPermissionRegistrar.php
Due: pint

chore(core): update core services and dashboard integration
  Modules/Core/app/Constants/Roles.php
  Modules/Core/app/Http/Controllers/DashboardController.php
  Modules/Core/app/Services/CoreMenuRegistrar.php
  Modules/Core/app/Services/CorePermissionRegistrar.php
Due: pint

chore: update module service registrations
  Modules/Categories/app/Services/CategoriesMenuRegistrar.php
  Modules/Categories/app/Services/CategoriesSettingsRegistrar.php
  Modules/Media/app/Services/MediaPermissionRegistrar.php
  Modules/Settings/app/Services/SettingsMenuRegistrar.php
Due: pint

chore: update routes and shared data services
  app/Services/Core/InertiaSharedDataService.php
  app/Services/Registry/MenuRegistry.php
  resources/js/ziggy.js
  routes/web.php
Due: eslint, prettier, pint

chore(ui): update shared UI components and styles
  resources/css/app.css
  resources/js/Components/Dashboard/ModuleDashboardPage.jsx
  resources/js/Components/Layouts/PageShell.jsx
  resources/js/Components/Navbar.jsx
  resources/js/Hooks/useAppearance.js
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
Due: eslint, prettier

feat(auth): add guard name to User model and hardcode auth model
  Modules/Core/app/Models/User.php
  config/auth.php
Due: pint

feat(settings): register configurable app and mail settings
  Modules/Settings/app/Services/SettingsSettingsRegistrar.php
Due: pint

feat(config): extend config sync to handle app and mail settings
  app/Services/Core/AppConfigService.php
  app/Services/Core/SettingsService.php
Due: pint

feat(ui): enhance settings page with badges and descriptions
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier
