Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

refactor(branding): rebrand from Mosaic to Tool Dock
  Modules/AuditLog/module.json
  Modules/Blog/module.json
  Modules/Categories/module.json
  Modules/Core/module.json
  Modules/Core/resources/assets/js/Layouts/AuthLayout.jsx
  Modules/Media/module.json
  Modules/Newsletter/module.json
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/module.json
  app/Services/Core/InertiaSharedDataService.php
  package-lock.json
  resources/js/Components/ApplicationLogo.jsx
  resources/js/Components/Footer.jsx
  resources/js/Components/Layouts/PageShell.jsx
  resources/js/Layouts/LandingLayout.jsx
Due: eslint, prettier, pint

style: fix code formatting and spacing
  app/Services/Core/SettingsService.php
Due: pint

refactor(ui): update module card and settings page
  Modules/Core/resources/assets/js/Components/ModuleCard.jsx
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(ui): refactor welcome page with new branding and terminal animation
  resources/js/Pages/Welcome.jsx
Due: eslint, prettier

chore: regenerate ziggy routes
  resources/js/ziggy.js
Due: eslint, prettier

style(settings): fix string concatenation spacing
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

feat(dashboard): add widget system infrastructure
  app/Data/DashboardWidget.php
  app/Services/Cache/CacheMetricsService.php
  app/Services/Cache/CacheService.php
  app/Services/Cache/CircuitBreaker.php
  app/Services/Cache/Exceptions/CacheConnectionException.php
  app/Services/Cache/Exceptions/CacheException.php
  app/Services/Cache/Exceptions/CacheTagException.php
  app/Services/Cache/Exceptions/CacheTimeoutException.php
  config/cache-metrics.php
  config/dashboard.php
Due: pint

refactor(registry): move DashboardWidgetRegistry to Registry folder
  app/Services/Registry/DashboardWidgetRegistry.php
Due: pint

feat(dashboard): register widgets in service providers and add observers
  Modules/AuditLog/app/Http/Controllers/AuditLogDashboardController.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Providers/RouteServiceProvider.php
  Modules/Blog/app/Http/Controllers/BlogDashboardController.php
  Modules/Blog/app/Observers/PostObserver.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Blog/app/Providers/RouteServiceProvider.php
  Modules/Categories/app/Http/Controllers/CategoriesDashboardController.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Categories/app/Providers/RouteServiceProvider.php
  Modules/Core/app/Http/Controllers/DashboardController.php
  Modules/Core/app/Observers/UserObserver.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Core/app/Providers/RouteServiceProvider.php
  Modules/Media/app/Http/Controllers/MediaDashboardController.php
  Modules/Media/app/Observers/MediaFileObserver.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Media/app/Providers/RouteServiceProvider.php
  Modules/Newsletter/app/Http/Controllers/NewsletterDashboardController.php
  Modules/Newsletter/app/Observers/CampaignObserver.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Newsletter/app/Providers/RouteServiceProvider.php
  Modules/Settings/app/Http/Controllers/SettingsDashboardController.php
  Modules/Settings/app/Providers/RouteServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  app/Providers/AppServiceProvider.php
Due: pint

feat(dashboard): add React components for widget rendering
  Modules/AuditLog/resources/assets/js/Pages/Dashboard.jsx
  Modules/Blog/resources/assets/js/Pages/Dashboard.jsx
  Modules/Categories/resources/assets/js/Pages/Dashboard.jsx
  Modules/Core/resources/assets/js/Pages/Dashboard.jsx
  Modules/Media/resources/assets/js/Pages/Dashboard.jsx
  Modules/Newsletter/resources/assets/js/Pages/Dashboard.jsx
  Modules/Settings/resources/assets/js/Pages/Dashboard.jsx
  resources/js/Components/Dashboard/ModuleDashboardPage.jsx
  resources/js/Components/Dashboard/ModuleSection.jsx
  resources/js/Components/Dashboard/WelcomeBanner.jsx
  resources/js/Components/Dashboard/WidgetRenderer.jsx
  resources/js/Components/Widgets/ActivityWidget.jsx
  resources/js/Components/Widgets/ChartWidget.jsx
  resources/js/Components/Widgets/StatWidget.jsx
  resources/js/Components/Widgets/SystemWidget.jsx
  resources/js/Utils/widgetHelpers.js
Due: eslint, prettier

feat(dashboard): implement main dashboard page with hybrid architecture
  Modules/AuditLog/routes/web.php
  Modules/Blog/routes/web.php
  Modules/Categories/routes/web.php
  Modules/Core/routes/web.php
  Modules/Media/routes/web.php
  Modules/Newsletter/routes/web.php
  Modules/Settings/routes/web.php
  resources/js/Pages/Dashboard.jsx
  routes/web.php
Due: eslint, prettier, pint

refactor(js): clean up comments and remove unused imports
  Modules/Core/resources/assets/js/Components/ModuleCard.jsx
  resources/js/Components/Layouts/PageShell.jsx
Due: eslint, prettier

refactor(registry): migrate MenuRegistry and SettingsRegistry to CacheService
  app/Services/Registry/MenuRegistry.php
  app/Services/Registry/SettingsRegistry.php
Due: pint

refactor(comments): remove unnecessary comments in service classes
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Core/app/Http/Controllers/ModuleManagerController.php
  app/Services/Core/SettingsService.php
  app/Services/Modules/ModuleDependencyValidator.php
Due: pint

chore(routes): update route prefixes and regenerate Ziggy routes
  resources/js/ziggy.js
  routes/auth.php
Due: eslint, prettier, pint

feat(dashboard): add table widget type support
  app/Data/DashboardWidget.php
  app/Services/Registry/DashboardWidgetRegistry.php
Due: pint

feat(dashboard): add TableWidget component
  resources/js/Components/Widgets/TableWidget.jsx
Due: eslint, prettier

feat(dashboard): integrate table widget into dashboard system
  resources/js/Components/Dashboard/ModuleSection.jsx
  resources/js/Components/Dashboard/WidgetRenderer.jsx
  resources/js/Utils/widgetHelpers.js
Due: eslint, prettier

feat(settings): register table widget for settings configuration
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

feat(modules): add service classes for dashboard, menu, permission, and settings registration
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
  Modules/AuditLog/app/Services/AuditLogMenuRegistrar.php
  Modules/AuditLog/app/Services/AuditLogPermissionRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSettingsRegistrar.php
  Modules/Blog/app/Services/BlogDashboardService.php
  Modules/Blog/app/Services/BlogMenuRegistrar.php
  Modules/Blog/app/Services/BlogPermissionRegistrar.php
  Modules/Blog/app/Services/BlogSettingsRegistrar.php
  Modules/Categories/app/Services/CategoriesCategoryRegistrar.php
  Modules/Categories/app/Services/CategoriesDashboardService.php
  Modules/Categories/app/Services/CategoriesMenuRegistrar.php
  Modules/Categories/app/Services/CategoriesPermissionRegistrar.php
  Modules/Categories/app/Services/CategoriesSettingsRegistrar.php
  Modules/Core/app/Services/CoreDashboardService.php
  Modules/Core/app/Services/CoreMenuRegistrar.php
  Modules/Core/app/Services/CorePermissionRegistrar.php
  Modules/Media/app/Services/MediaDashboardService.php
  Modules/Media/app/Services/MediaMenuRegistrar.php
  Modules/Media/app/Services/MediaPermissionRegistrar.php
  Modules/Media/app/Services/MediaSettingsRegistrar.php
  Modules/Newsletter/app/Services/NewsletterDashboardService.php
  Modules/Newsletter/app/Services/NewsletterMenuRegistrar.php
  Modules/Newsletter/app/Services/NewsletterPermissionRegistrar.php
  Modules/Newsletter/app/Services/NewsletterSettingsRegistrar.php
  Modules/Settings/app/Services/SettingsDashboardService.php
  Modules/Settings/app/Services/SettingsMenuRegistrar.php
  Modules/Settings/app/Services/SettingsPermissionRegistrar.php
  Modules/Settings/app/Services/SettingsSettingsRegistrar.php
Due: pint

refactor(providers): extract registration logic to service classes and remove inline comments
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

chore(routes): update ziggy.js with latest route definitions
  resources/js/ziggy.js
Due: eslint, prettier

fix(media): improve cleanup command option handling
  Modules/Media/app/Console/CleanupTemporaryMedia.php
Due: pint

chore(deps): update laravel/boost to v1.8.3
  composer.lock
Due: none

feat(config): add Redis timeout configurations
  config/database.php
Due: pint

fix(project): correct package name in package-lock.json
  package-lock.json
Due: none

chore(js): update ziggy routes
  resources/js/ziggy.js
Due: eslint, prettier

feat(ui): add new AppSpinner component system
  resources/js/Components/AppSpinner.jsx
  resources/js/app.jsx
  resources/views/app.blade.php
Due: eslint, prettier, pint

refactor(ui): replace old navigation loading system with NavigationSpinner
  resources/js/Hooks/useNavigationLoading.js
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/Utils/hideGlobalLoading.js
Due: eslint, prettier

feat(hooks): add component-level loading support
  resources/js/Hooks/useComponentLoading.js
  resources/js/Hooks/useSmartForm.js
Due: eslint, prettier

feat(modules): add useToggleState hook and update ModuleCard
  Modules/Core/resources/assets/js/Components/ModuleCard.jsx
  resources/js/Hooks/useToggleState.js
Due: eslint, prettier

chore(deps): add react-hook-form, zod, zustand, framer-motion and react-query
  package-lock.json
  package.json
Due: none

feat(forms): add React Hook Form integration with Inertia.js
  resources/js/Components/Common/FormFieldRHF.jsx
  resources/js/Components/Common/FormTextareaRHF.jsx
  resources/js/Hooks/useInertiaForm.js
Due: eslint, prettier

feat(state): add Zustand stores for app, navigation and UI settings
  resources/js/Stores/useAppStore.js
  resources/js/Stores/useNavigationStore.js
  resources/js/Stores/useUISettingsStore.js
Due: eslint, prettier

feat(query): add React Query provider and configuration
  resources/js/Config/react-query.js
  resources/js/Providers/QueryProvider.jsx
Due: eslint, prettier

feat(ui): add page transitions, animations and debounced search hook
  resources/js/Components/PageTransition.jsx
  resources/js/Hooks/useDebouncedSearch.js
  resources/js/Utils/animations.js
Due: eslint, prettier

refactor(forms): update form hooks with deprecation notices and improvements
  resources/js/Hooks/useFormHandler.js
  resources/js/Hooks/useFormWithDialog.js
  resources/js/Hooks/useFormWithFocus.js
  resources/js/Hooks/useSmartForm.js
Due: eslint, prettier

refactor(ui): update shadcn/ui components and FormDialog
  resources/js/Components/Common/FormDialog.jsx
  resources/js/Components/ui/alert-dialog.jsx
  resources/js/Components/ui/dialog.jsx
  resources/js/Components/ui/dropdown-menu.jsx
  resources/js/Components/ui/popover.jsx
  resources/js/Components/ui/sheet.jsx
  resources/js/Components/ui/tabs.jsx
  resources/js/Components/ui/tooltip.jsx
Due: eslint, prettier

refactor(datatable): improve useDatatable hook functionality
  resources/js/Hooks/useDatatable.js
Due: eslint, prettier

feat(app): integrate QueryProvider and update utilities
  resources/js/app.jsx
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier: any of: **/*.{js,jsx,ts,tsx}
  pint: any of: *.php
