Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

refactor(modules): extract dependency validation and checking services
  app/Services/Modules/ModuleDependencyChecker.php
  app/Services/Modules/ModuleDependencyValidator.php
Due: pint

refactor(modules): extract status and registry management services
  app/Services/Modules/ModuleRegistryHelper.php
  app/Services/Modules/ModuleStatusService.php
Due: pint

refactor(modules): extract migration and permission management services
  app/Services/Modules/ModuleMigrationService.php
  app/Services/Modules/ModulePermissionManager.php
Due: pint

refactor(modules): extract module discovery service
  app/Services/Modules/ModuleDiscoveryService.php
Due: pint

refactor(modules): refactor ModuleLifecycleService to use extracted services
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

config: add pint.json configuration
  pint.json
Due: none

chore: update ziggy.js routes file
  resources/js/ziggy.js
Due: eslint, prettier

feat(core): add user ownership traits and permission seeder
  Modules/Core/app/Traits/ChecksSuperAdmin.php
  Modules/Core/app/Traits/HasUserOwnership.php
  Modules/Core/config/config.php
  Modules/Core/database/seeders/CorePermissionSeeder.php
Due: pint

refactor(core): replace CoreRoleSeeder with CorePermissionSeeder
  Modules/Core/database/seeders/CoreDatabaseSeeder.php
  Modules/Core/database/seeders/CoreRoleSeeder.php
Due: pint

refactor(core): remove unnecessary comments and improve type hints
  Modules/Core/app/Http/Controllers/Auth/NewPasswordController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordResetLinkController.php
  Modules/Core/app/Models/User.php
  Modules/Core/app/Observers/UserObserver.php
  Modules/Core/app/Services/PermissionCacheService.php
  Modules/Core/app/Services/PermissionRegistry.php
  Modules/Core/app/Services/PermissionService.php
Due: pint

feat(blog): implement user ownership and campaign protection
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Blog/app/Models/Post.php
  Modules/Blog/app/Policies/PostPolicy.php
  Modules/Blog/app/Providers/RouteServiceProvider.php
  Modules/Blog/database/seeders/BlogDatabaseSeeder.php
  Modules/Blog/module.json
Due: pint

feat(newsletter): implement user ownership and improve code quality
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
  Modules/Newsletter/app/Jobs/SendCampaignJob.php
  Modules/Newsletter/app/Models/Campaign.php
  Modules/Newsletter/app/Policies/CampaignPolicy.php
  Modules/Newsletter/app/Providers/RouteServiceProvider.php
  Modules/Newsletter/database/seeders/NewsletterDatabaseSeeder.php
Due: pint

feat(blog): add PostDeleting and PostDeleted events
  Modules/Blog/app/Events/PostDeleted.php
  Modules/Blog/app/Events/PostDeleting.php
Due: pint

feat(newsletter): add listeners for post deletion events
  Modules/Newsletter/app/Listeners/CleanupDraftCampaignsOnPostDeletion.php
  Modules/Newsletter/app/Listeners/PreventPostDeletionIfUsedInCampaigns.php
Due: pint

refactor(blog): use events for post deletion logic
  Modules/Blog/app/Http/Controllers/BlogController.php
Due: pint

refactor(blog): remove campaign-related methods from Post model
  Modules/Blog/app/Models/Post.php
Due: pint

refactor(blog): simplify PostPolicy delete method
  Modules/Blog/app/Policies/PostPolicy.php
Due: pint

feat(newsletter): register post deletion event listeners
  Modules/Newsletter/app/Providers/EventServiceProvider.php
Due: pint

docs(newsletter): improve PHPDoc comments in CampaignController
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
Due: pint

feat(blog): add PostUpdating event
  Modules/Blog/app/Events/PostUpdating.php
Due: pint

feat(newsletter): add listener to prevent post updates in sending campaigns
  Modules/Newsletter/app/Listeners/PreventPostUpdateIfUsedInSendingCampaigns.php
Due: pint

feat(newsletter): register PostUpdating listener
  Modules/Newsletter/app/Providers/EventServiceProvider.php
Due: pint

feat(blog): fire PostUpdating event in update method
  Modules/Blog/app/Http/Controllers/BlogController.php
Due: pint

feat(settings): add settings module and infrastructure
  Modules/Settings/app/Enums/SettingType.php
  Modules/Settings/app/Http/Controllers/.gitkeep
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Http/Requests/UpdateSettingsRequest.php
  Modules/Settings/app/Models/Setting.php
  Modules/Settings/app/Policies/SettingPolicy.php
  Modules/Settings/app/Providers/.gitkeep
  Modules/Settings/app/Providers/AuthServiceProvider.php
  Modules/Settings/app/Providers/EventServiceProvider.php
  Modules/Settings/app/Providers/RouteServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/composer.json
  Modules/Settings/config/.gitkeep
  Modules/Settings/config/config.php
  Modules/Settings/database/factories/.gitkeep
  Modules/Settings/database/migrations/.gitkeep
  Modules/Settings/database/migrations/2025_11_30_105533_create_settings_table.php
  Modules/Settings/database/seeders/.gitkeep
  Modules/Settings/database/seeders/SettingsDatabaseSeeder.php
  Modules/Settings/database/seeders/SettingsPermissionSeeder.php
  Modules/Settings/module.json
  Modules/Settings/resources/assets/.gitkeep
  Modules/Settings/resources/assets/js/Pages/Index.jsx
  Modules/Settings/resources/assets/js/app.js
  Modules/Settings/resources/assets/sass/app.scss
  Modules/Settings/resources/views/.gitkeep
  Modules/Settings/resources/views/components/layouts/master.blade.php
  Modules/Settings/resources/views/index.blade.php
  Modules/Settings/routes/.gitkeep
  Modules/Settings/routes/api.php
  Modules/Settings/routes/web.php
  Modules/Settings/tests/Feature/.gitkeep
  Modules/Settings/tests/Unit/.gitkeep
  app/Helpers/settings.php
  app/Services/SettingsRegistry.php
  app/Services/SettingsService.php
  composer.json
Due: eslint, prettier, pint

feat(settings): integrate settings into module lifecycle
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
  app/Providers/AppServiceProvider.php
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

fix(notifications): improve flash notification handling
  app/Http/Middleware/HandleInertiaRequests.php
  resources/js/Hooks/useFlashNotifications.js
Due: eslint, prettier, pint

feat(ui): add switch and tabs components
  package-lock.json
  package.json
  resources/js/Components/ui/switch.jsx
  resources/js/Components/ui/tabs.jsx
Due: eslint, prettier

fix(core): improve user policy security and seeder cleanup
  Modules/Core/app/Policies/UserPolicy.php
  Modules/Core/database/seeders/CoreDatabaseSeeder.php
  database/seeders/DatabaseSeeder.php
Due: pint

refactor(hooks): simplify useSmartForm hook
  resources/js/Hooks/useSmartForm.js
Due: eslint, prettier

chore(modules): update module metadata and dependencies
  Modules/Blog/composer.json
  Modules/Blog/module.json
  Modules/Core/composer.json
  Modules/Core/module.json
  Modules/Newsletter/composer.json
  Modules/Newsletter/module.json
Due: none

chore(ziggy): regenerate route definitions
  resources/js/ziggy.js
Due: eslint, prettier

feat(settings): improve service error handling and config sync
  app/Providers/AppServiceProvider.php
  app/Services/SettingsService.php
Due: pint

feat(settings): separate application and module settings in UI
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier, pint

feat(app): integrate app name from settings throughout application
  app/Http/Middleware/HandleInertiaRequests.php
  config/cache.php
  config/database.php
  config/session.php
  resources/js/Components/ApplicationLogo.jsx
  resources/js/Components/Navbar.jsx
  resources/js/app.jsx
  resources/views/app.blade.php
Due: eslint, prettier, pint

feat(modules): update module blade templates to use settings app name
  Modules/Blog/resources/views/components/layouts/master.blade.php
  Modules/Core/resources/views/components/layouts/master.blade.php
  Modules/Newsletter/resources/views/components/layouts/master.blade.php
  Modules/Settings/resources/views/components/layouts/master.blade.php
  stubs/nwidart-stubs/views/master.stub
Due: pint

feat(blog): register and use blog module settings
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
Due: pint

feat(newsletter): register and use newsletter module settings
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Newsletter/module.json
Due: pint

feat(blog): replace window.confirm with ConfirmDialog component
  Modules/Blog/resources/assets/js/Pages/Show.jsx
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier: any of: **/*.{js,jsx,ts,tsx}
  pint: any of: *.php
