Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

refactor(bootstrap): update service namespace imports
  Modules/Settings/database/seeders/SettingsDatabaseSeeder.php
  app/Services/Modules/ModuleLifecycleService.php
  bootstrap/app.php
Due: pint

refactor(registry): remove old registry services
  Modules/Core/app/Services/PermissionRegistry.php
  app/Services/Modules/ModulePermissionManager.php
  app/Services/Registry/SettingsService.php
Due: pint

feat(registry): add centralized registry services
  Modules/Core/app/Services/SuperAdminService.php
  app/Services/Core/SettingsService.php
  app/Services/Registry/PermissionRegistry.php
  app/Services/Registry/RoleRegistry.php
Due: pint

feat(registry): enhance SettingsRegistry with new methods
  app/Services/Registry/SettingsRegistry.php
Due: pint

refactor(modules): update ModuleLifecycleService to use new registries
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

refactor(providers): update service providers to use new registries
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  app/Providers/AppServiceProvider.php
Due: pint

refactor(seeders): update seeders to use new registry pattern
  Modules/AuditLog/database/seeders/AuditLogDatabaseSeeder.php
  Modules/AuditLog/database/seeders/AuditLogPermissionSeeder.php
  Modules/Blog/database/seeders/BlogDatabaseSeeder.php
  Modules/Blog/database/seeders/BlogPermissionSeeder.php
  Modules/Categories/database/seeders/CategoriesDatabaseSeeder.php
  Modules/Categories/database/seeders/CategoriesPermissionSeeder.php
  Modules/Core/database/seeders/CoreDatabaseSeeder.php
  Modules/Core/database/seeders/CorePermissionSeeder.php
  Modules/Media/database/seeders/MediaDatabaseSeeder.php
  Modules/Media/database/seeders/MediaPermissionSeeder.php
  Modules/Newsletter/database/seeders/NewsletterDatabaseSeeder.php
  Modules/Newsletter/database/seeders/NewsletterPermissionSeeder.php
  Modules/Settings/database/seeders/SettingsDatabaseSeeder.php
  Modules/Settings/database/seeders/SettingsPermissionSeeder.php
  database/seeders/DatabaseSeeder.php
Due: pint

refactor(settings): update settings helper and related files
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Http/Requests/UpdateSettingsRequest.php
  app/Helpers/settings.php
  app/Services/Registry/CategoryRegistry.php
Due: pint

fix(settings): clear cache after seed and fix cleanup for uninstalled modules
  app/Services/Registry/SettingsRegistry.php
Due: pint

feat(modules): add module lifecycle events
  app/Events/Modules/ModuleDisabled.php
  app/Events/Modules/ModuleDisabling.php
  app/Events/Modules/ModuleEnabled.php
  app/Events/Modules/ModuleEnabling.php
  app/Events/Modules/ModuleInstalled.php
  app/Events/Modules/ModuleInstalling.php
  app/Events/Modules/ModuleUninstalled.php
  app/Events/Modules/ModuleUninstalling.php
Due: pint

refactor(modules): integrate events and extract registry methods in ModuleLifecycleService
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

chore(js): update ziggy routes file formatting
  resources/js/ziggy.js
Due: eslint, prettier

feat(core): add module manager UI
  Modules/Core/app/Http/Controllers/ModuleManagerController.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Core/resources/assets/js/Components/ModuleCard.jsx
  Modules/Core/resources/assets/js/Pages/Modules/Index.jsx
  Modules/Core/routes/web.php
Due: eslint, prettier, pint

feat(ui): add navigation loading hook and spinner component
  resources/js/Components/ui/spinner.jsx
  resources/js/Hooks/useNavigationLoading.js
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/ziggy.js
Due: eslint, prettier

refactor(modules): improve module service error messages and comments
  app/Services/Modules/ModuleDependencyChecker.php
  app/Services/Modules/ModuleLifecycleService.php
  app/Services/Modules/ModuleRegistryHelper.php
Due: pint

refactor: clean up redundant inline comments
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/Categories/resources/assets/js/Pages/Index.jsx
  Modules/Newsletter/resources/assets/js/Pages/Create.jsx
  Modules/Settings/resources/assets/js/Pages/Index.jsx
  resources/js/Components/AppSidebar.jsx
  resources/js/Components/Common/ConfirmDialog.jsx
  resources/js/Hooks/useDatatable.js
Due: eslint, prettier

feat(core): add Menu model with migration and observer
  Modules/Core/app/Models/Menu.php
  Modules/Core/app/Observers/MenuObserver.php
  Modules/Core/database/migrations/2025_12_02_133842_create_menus_table.php
Due: pint

feat(registry): implement MenuRegistry service
  app/Services/Registry/MenuRegistry.php
Due: pint

feat(core): register menu items in CoreServiceProvider
  Modules/Core/app/Providers/CoreServiceProvider.php
Due: pint

feat(modules): integrate MenuRegistry in module service providers
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/Blog/app/Providers/BlogServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

feat(ui): update AppSidebar to use database-driven menus
  resources/js/Components/AppSidebar.jsx
Due: eslint, prettier

refactor: clean up code and remove redundant comments
  Modules/AuditLog/app/Models/AuditLog.php
  app/Providers/AppServiceProvider.php
  app/Services/Core/SettingsService.php
  app/Services/Modules/ModuleDependencyValidator.php
  app/Services/Modules/ModuleLifecycleService.php
  app/Services/Registry/SettingsRegistry.php
Due: pint

feat(settings): add app logo icon setting
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/resources/assets/js/Pages/Index.jsx
  app/Services/Core/InertiaSharedDataService.php
  resources/js/Components/ApplicationLogo.jsx
Due: eslint, prettier, pint

feat(utils): add utility functions for loading and title management
  resources/js/Utils/hideGlobalLoading.js
  resources/js/Utils/inertiaTitle.js
Due: eslint, prettier

feat(auth): add modern authentication layout component
  Modules/Core/resources/assets/js/Layouts/AuthLayout.jsx
Due: eslint, prettier

refactor(sidebar): remove unused imports and add divider
  resources/js/Components/AppSidebar.jsx
Due: eslint, prettier

refactor(ui): remove unused BreadcrumbEllipsis component
  resources/js/Components/ui/breadcrumb.jsx
Due: eslint, prettier

refactor(auth): remove redundant inline comments from auth pages
  Modules/Core/resources/assets/js/Pages/Auth/Login.jsx
  Modules/Core/resources/assets/js/Pages/Auth/Register.jsx
Due: eslint, prettier

refactor(components): remove redundant inline comments
  resources/js/Components/InputError.jsx
  resources/js/Components/Layouts/PageShell.jsx
  resources/js/Components/Navbar.jsx
  resources/js/Components/ui/spinner.jsx
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/Pages/Dashboard.jsx
  resources/js/app.jsx
Due: eslint, prettier

feat(views): add global loading spinner with modern styling
  resources/views/app.blade.php
Due: pint

refactor(media): move Media Index page to Media module
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier, pint

feat(auth): redesign auth pages with AuthLayout and move to Core module
  Modules/Core/app/Http/Controllers/Auth/ConfirmablePasswordController.php
  Modules/Core/app/Http/Controllers/Auth/EmailVerificationPromptController.php
  Modules/Core/app/Http/Controllers/Auth/NewPasswordController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordResetLinkController.php
  Modules/Core/resources/assets/js/Pages/Auth/ConfirmPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/ForgotPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/ResetPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/VerifyEmail.jsx
  resources/js/Pages/Auth/ConfirmPassword.jsx
  resources/js/Pages/Auth/ForgotPassword.jsx
  resources/js/Pages/Auth/Login.jsx
  resources/js/Pages/Auth/Register.jsx
  resources/js/Pages/Auth/ResetPassword.jsx
  resources/js/Pages/Auth/VerifyEmail.jsx
Due: eslint, prettier, pint

refactor(layouts): remove unused GuestLayout and AuthenticatedLayout
  resources/js/Layouts/AuthenticatedLayout.jsx
  resources/js/Layouts/GuestLayout.jsx
Due: eslint, prettier

chore(deps): add Geist Sans and Geist Mono fonts
  package-lock.json
  package.json
  resources/css/app.css
  tailwind.config.js
Due: none

feat(layout): add LandingLayout component for open source pages
  resources/js/Layouts/LandingLayout.jsx
Due: eslint, prettier

feat(welcome): redesign welcome page with modern developer-focused UI
  resources/js/Pages/Welcome.jsx
Due: eslint, prettier

chore(ziggy): update auto-generated route definitions
  resources/js/ziggy.js
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier: any of: **/*.{js,jsx,ts,tsx}
  pint: any of: *.php
