Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

feat(vault): add vault lock routes and settings
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
  Modules/Vault/routes/web.php
Due: pint

refactor(vault): remove redundant JSX comments
  Modules/Vault/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(vault): add timeout setting for vault lock
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
Due: pint

feat(vault): expose timeout and unlocked_at in shared data
  Modules/Vault/app/Providers/VaultServiceProvider.php
Due: pint

feat(vault): implement timeout-based auto-lock functionality
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
Due: pint

refactor(vault): extract helper methods and add security improvements
  Modules/Vault/app/Http/Controllers/VaultLockController.php
Due: pint

refactor(vault): move VaultLockMiddleware to global web middleware
  Modules/Vault/routes/web.php
  bootstrap/app.php
Due: pint

feat(registry): add MiddlewareRegistry for module middleware registration
  app/Services/Registry/MiddlewareRegistry.php
Due: pint

feat(provider): integrate MiddlewareRegistry in AppServiceProvider
  app/Providers/AppServiceProvider.php
Due: pint

feat(vault): register VaultLockMiddleware via MiddlewareRegistry
  Modules/Vault/app/Providers/VaultServiceProvider.php
Due: pint

refactor(bootstrap): remove hardcoded middleware from app.php
  bootstrap/app.php
Due: pint

docs(registry): update MiddlewareRegistry comment to reflect actual implementation
  app/Services/Registry/MiddlewareRegistry.php
Due: pint

refactor(core): move Inertia shared data registration to module provider
  Modules/Core/app/Providers/CoreServiceProvider.php
  app/Services/Core/InertiaSharedDataService.php
Due: pint

feat(settings): add repository_url to shared Inertia data
  Modules/Settings/app/Providers/SettingsServiceProvider.php
Due: pint

feat(ui): add InfoDialog component to Navbar
  resources/js/Components/InfoDialog.jsx
  resources/js/Components/Navbar.jsx
Due: eslint, prettier

fix(ui): update PHP version to 8.4 in InfoDialog
  resources/js/Components/InfoDialog.jsx
Due: eslint, prettier

chore(vault): remove Media module dependency
  Modules/Vault/module.json
Due: none

style(vault): make Active Filters card fit content width
  Modules/Vault/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

fix(vault): resolve Select component controlled/uncontrolled state issue
  Modules/Vault/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

chore(gitignore): add .env.local to ignored files
  .gitignore
Due: none

refactor(vite): simplify chunk splitting strategy
  vite.config.js
Due: none

build(ziggy): minify generated routes file for production
  resources/js/ziggy.js
Due: eslint, prettier

style(routes): add explicit Route facade import
  routes/web.php
Due: pint

fix(groups): include rowSelection in selectedRows dependency array
  Modules/Groups/resources/assets/js/Pages/Groups/Hooks/useGroupMembers.js
Due: eslint, prettier

fix(vault): bypass lock middleware for auth routes
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
Due: pint

refactor(modules): improve cache rebuilding and menu deactivation
  app/Services/Modules/ModuleLifecycleService.php
  app/Services/Modules/ModuleRegistryHelper.php
  app/Services/Registry/MenuRegistry.php
Due: pint

chore(ziggy): regenerate route definitions
  resources/js/ziggy.js
Due: eslint, prettier

chore(deps): update composer.lock
  composer.lock
Due: none

feat(docker): add production Docker setup with multi-stage build
  .dockerignore
  Dockerfile
  docker-compose.yml
  docker/entrypoint.sh
  docker/nginx/default.conf
  docker/nginx/nginx.conf
  docker/php/php-fpm.conf
  docker/php/php.ini
  docker/supervisor/supervisord.conf
Due: none

docs(env): add production environment template
  .env.production.example
Due: none

feat(modules): add server-side module page manifest for dynamic loading
  app/Services/Core/InertiaSharedDataService.php
  app/Services/Modules/ModulePageManifestService.php
  resources/js/app.jsx
  resources/views/app.blade.php
Due: eslint, prettier, pint

style(sidebar): add custom scrollbar styles for sidebar content
  resources/css/app.css
Due: none

feat(sidebar): add footer with GitHub issue and contribution links
  resources/js/Components/AppSidebar.jsx
Due: eslint, prettier

style(sidebar): increase sidebar width to 20rem
  resources/js/Components/ui/sidebar.jsx
Due: eslint, prettier

feat(core): setup real-time infrastructure with laravel reverb
  bootstrap/app.php
  composer.json
  composer.lock
  config/broadcasting.php
  config/reverb.php
  package-lock.json
  package.json
  resources/js/bootstrap.js
  routes/channels.php
Due: eslint, prettier, pint

feat(core): add module event listeners for notifications
  Modules/Core/app/Listeners/SendLockoutNotification.php
  app/Listeners/NotifyAdminsOnModuleChange.php
  app/Providers/AppServiceProvider.php
Due: pint
