Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

chore(config): update editorconfig for JSON and TypeScript files
  .editorconfig
Due: none

chore(modules): remove Blog module package.json and vite.config.js
  Modules/Blog/package.json
  Modules/Blog/vite.config.js
Due: eslint, prettier

style(config): apply Prettier formatting to configuration files
  Modules/Blog/composer.json
  Modules/Blog/module.json
  boost.json
  components.json
  composer.json
  config/modules.php
  jsconfig.json
  modules_statuses.json
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  vite.config.js
Due: pint

refactor(frontend): add new organized directory structure
  resources/js/Components/Common/ActivityListItem.jsx
  resources/js/Components/Common/ChartCard.jsx
  resources/js/Components/Common/ConfirmDialog.jsx
  resources/js/Components/Common/FormCard.jsx
  resources/js/Components/Common/FormDialog.jsx
  resources/js/Components/Common/FormField.jsx
  resources/js/Components/Common/ProgressBar.jsx
  resources/js/Components/Common/SimpleDialog.jsx
  resources/js/Components/Dashboard/AddUserDialog.jsx
  resources/js/Components/Dashboard/CreateOrderDialog.jsx
  resources/js/Components/Dashboard/GenerateReportDialog.jsx
  resources/js/Components/Dashboard/GrowthTrendChartCard.jsx
  resources/js/Components/Dashboard/RecentActivityCard.jsx
  resources/js/Components/Dashboard/RevenueChartCard.jsx
  resources/js/Components/Dashboard/SalesChartCard.jsx
  resources/js/Components/Dashboard/SystemStatusCard.jsx
  resources/js/Components/Dashboard/ViewAnalyticsDialog.jsx
  resources/js/Components/DataDisplay/DataTable.jsx
  resources/js/Components/DataDisplay/MetricCard.jsx
  resources/js/Components/DataDisplay/StatCard.jsx
  resources/js/Components/DataDisplay/StatGrid.jsx
  resources/js/Components/Layouts/PageShell.jsx
  resources/js/Hooks/useAppearance.js
  resources/js/Hooks/useDatatable.js
  resources/js/Hooks/useDisclosure.js
  resources/js/Hooks/useFlashNotifications.js
  resources/js/Hooks/useFormHandler.js
  resources/js/Hooks/useFormWithDialog.js
  resources/js/Hooks/useFormWithFocus.js
  resources/js/Hooks/useIsMobile.js
  resources/js/Hooks/useSmartForm.js
  resources/js/Utils/constants.js
  resources/js/Utils/format.js
  resources/js/Utils/iconResolver.js
  resources/js/Utils/utils.js
Due: eslint, prettier

chore(config): update path aliases for new directory structure
  components.json
Due: none

refactor(ui): update import paths to use new Utils directory
  resources/js/Components/ui/alert-dialog.jsx
  resources/js/Components/ui/avatar.jsx
  resources/js/Components/ui/breadcrumb.jsx
  resources/js/Components/ui/button.jsx
  resources/js/Components/ui/card.jsx
  resources/js/Components/ui/chart.jsx
  resources/js/Components/ui/collapsible.jsx
  resources/js/Components/ui/dialog.jsx
  resources/js/Components/ui/dropdown-menu.jsx
  resources/js/Components/ui/input.jsx
  resources/js/Components/ui/label.jsx
  resources/js/Components/ui/separator.jsx
  resources/js/Components/ui/sheet.jsx
  resources/js/Components/ui/sidebar.jsx
  resources/js/Components/ui/skeleton.jsx
  resources/js/Components/ui/tooltip.jsx
Due: eslint, prettier

refactor(pages): refactor pages and layouts to use new component structure
  resources/js/Components/AppSidebar.jsx
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/Pages/Dashboard.jsx
  resources/js/Pages/Profile/Edit.jsx
  resources/js/Pages/Profile/Partials/DeleteUserForm.jsx
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier

refactor(blog): update Blog Index page to use new component structure
  Modules/Blog/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

refactor(frontend): remove old directory structure files
  resources/js/hooks/use-mobile.jsx
  resources/js/hooks/useFlashNotifications.js
  resources/js/lib/iconResolver.js
  resources/js/lib/utils.js
Due: eslint, prettier

feat(modules): add module lifecycle management system
  app/Console/Commands/ModuleManageCommand.php
  app/Exceptions/MissingDependencyException.php
  app/Services/Modules/DatabaseActivator.php
  app/Services/Modules/ModuleLifecycleService.php
  config/modules.php
  database/migrations/2025_11_26_145713_create_modules_statuses_table.php
Due: pint

feat(blog): implement blog module with CRUD operations
  Modules/Blog/app/Http/Controllers/BlogController.php
  Modules/Blog/app/Http/Requests/StorePostRequest.php
  Modules/Blog/app/Http/Requests/UpdatePostRequest.php
  Modules/Blog/app/Models/Post.php
  Modules/Blog/database/factories/PostFactory.php
  Modules/Blog/database/migrations/2025_11_26_150240_create_posts_table.php
  Modules/Blog/database/seeders/BlogDatabaseSeeder.php
  Modules/Blog/module.json
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
  Modules/Blog/resources/assets/js/Pages/Index.jsx
  Modules/Blog/resources/assets/js/Pages/Show.jsx
  Modules/Blog/routes/web.php
Due: eslint, prettier, pint

refactor(utils): update utility functions and add Ziggy route helper
  resources/js/Utils/constants.js
  resources/js/Utils/format.js
  resources/js/Utils/iconResolver.js
  resources/js/Utils/utils.js
  resources/js/app.jsx
  resources/js/ziggy.js
Due: eslint, prettier

chore(build): update Vite and ESLint configuration
  eslint.config.js
  vite.config.js
Due: none

docs(build): improve Vite config comments for module page resolution
  vite.config.js
Due: none

feat: add reusable DatatableQueryService for search, sorting, and pagination
  app/Services/DatatableQueryService.php
Due: pint

refactor(blog): use DatatableQueryService in BlogController
  Modules/Blog/app/Http/Controllers/BlogController.php
Due: pint

fix(blog): sync frontend defaultPerPage with backend configuration
  Modules/Blog/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

fix(blog): add defaultPerPage to useEffect dependency array
  Modules/Blog/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier

feat(navbar): add dynamic backdrop blur effect on scroll
  resources/js/Components/Navbar.jsx
  resources/js/Hooks/useScrollBlur.js
  resources/js/Layouts/DashboardLayout.jsx
Due: eslint, prettier

deps: add date picker dependencies
  package-lock.json
  package.json
Due: none

feat(ui): add calendar and popover components
  resources/js/Components/ui/calendar.jsx
  resources/js/Components/ui/popover.jsx
Due: eslint, prettier

feat(form): add DatePicker component
  resources/js/Components/Form/DatePicker.jsx
Due: eslint, prettier

feat(blog): replace datetime input with DatePicker
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
Due: eslint, prettier

feat(dashboard): replace date inputs with DatePicker
  resources/js/Components/Dashboard/GenerateReportDialog.jsx
Due: eslint, prettier

fix(blog): disable native form validation to show Inertia errors
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
Due: eslint, prettier

fix(modules): add missing DatabaseActivator import
  app/Services/Modules/ModuleLifecycleService.php
Due: pint

remove(modules): delete unused legacy files
  modules_statuses.json
  vite-module-loader.js
Due: none

config(modules): remove unused FileActivator configuration
  config/modules.php
Due: pint

refactor(modules): simplify ModuleLifecycleService and reduce duplication
  app/Services/Modules/DatabaseActivator.php
Due: pint

feat(ui): add checkbox and textarea components with FormTextarea wrapper
  package-lock.json
  package.json
  resources/js/Components/Common/FormTextarea.jsx
  resources/js/Components/ui/checkbox.jsx
  resources/js/Components/ui/textarea.jsx
Due: eslint, prettier

fix(form): resolve timezone issues in DatePicker component
  resources/js/Components/Dashboard/GenerateReportDialog.jsx
  resources/js/Components/Form/DatePicker.jsx
Due: eslint, prettier

refactor(blog): use FormTextarea component in create and edit pages
  Modules/Blog/resources/assets/js/Pages/Create.jsx
  Modules/Blog/resources/assets/js/Pages/Edit.jsx
Due: eslint, prettier

style(modules): improve code formatting and user messages
  app/Console/Commands/ModuleManageCommand.php
Due: pint

feat(newsletter): add newsletter module with campaign management
  Modules/Newsletter/app/Http/Controllers/.gitkeep
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
  Modules/Newsletter/app/Http/Controllers/NewsletterController.php
  Modules/Newsletter/app/Http/Requests/StoreCampaignRequest.php
  Modules/Newsletter/app/Http/Requests/UpdateCampaignRequest.php
  Modules/Newsletter/app/Jobs/SendCampaignJob.php
  Modules/Newsletter/app/Models/Campaign.php
  Modules/Newsletter/app/Providers/.gitkeep
  Modules/Newsletter/app/Providers/EventServiceProvider.php
  Modules/Newsletter/app/Providers/NewsletterServiceProvider.php
  Modules/Newsletter/app/Providers/RouteServiceProvider.php
  Modules/Newsletter/composer.json
  Modules/Newsletter/config/.gitkeep
  Modules/Newsletter/config/config.php
  Modules/Newsletter/database/factories/.gitkeep
  Modules/Newsletter/database/migrations/.gitkeep
  Modules/Newsletter/database/migrations/2025_11_27_041826_create_campaigns_table.php
  Modules/Newsletter/database/seeders/.gitkeep
  Modules/Newsletter/database/seeders/NewsletterDatabaseSeeder.php
  Modules/Newsletter/module.json
  Modules/Newsletter/resources/assets/.gitkeep
  Modules/Newsletter/resources/assets/js/Pages/Create.jsx
  Modules/Newsletter/resources/assets/js/Pages/Edit.jsx
  Modules/Newsletter/resources/assets/js/Pages/Index.jsx
  Modules/Newsletter/resources/assets/js/Pages/Show.jsx
  Modules/Newsletter/resources/assets/js/app.js
  Modules/Newsletter/resources/assets/sass/app.scss
  Modules/Newsletter/resources/views/.gitkeep
  Modules/Newsletter/resources/views/components/layouts/master.blade.php
  Modules/Newsletter/resources/views/index.blade.php
  Modules/Newsletter/routes/.gitkeep
  Modules/Newsletter/routes/api.php
  Modules/Newsletter/routes/web.php
  Modules/Newsletter/tests/Feature/.gitkeep
  Modules/Newsletter/tests/Unit/.gitkeep
Due: eslint, prettier, pint

chore(routes): update ziggy routes for newsletter and blog modules
  resources/js/ziggy.js
Due: eslint, prettier

feat(newsletter): add user_id foreign key to campaigns table
  Modules/Newsletter/database/migrations/2025_11_27_041826_create_campaigns_table.php
Due: pint

feat(newsletter): add user relationship to Campaign model
  Modules/Newsletter/app/Models/Campaign.php
Due: pint

feat(newsletter): add user ownership authorization to campaigns
  Modules/Newsletter/app/Http/Controllers/CampaignController.php
  Modules/Newsletter/app/Providers/RouteServiceProvider.php
Due: pint
