Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

feat(signal): integrate notifications into core and module controllers
  Modules/Core/app/Http/Controllers/ProfileController.php
  Modules/Core/app/Http/Controllers/UserController.php
  Modules/Core/app/Providers/EventServiceProvider.php
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/app/Services/GroupsSettingsRegistrar.php
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Settings/app/Http/Controllers/SettingsController.php
Due: pint

fix(vault): update vault lock mechanism and components
  Modules/Vault/app/Http/Controllers/VaultLockController.php
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
  Modules/Vault/module.json
  Modules/Vault/resources/assets/js/Components/VaultCard.jsx
  resources/js/ziggy.js
Due: eslint, prettier, pint

feat(signal): integrate notifications into auth and audit log
  Modules/AuditLog/app/Console/Commands/CleanupAuditLogsCommand.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/Core/app/Http/Controllers/Auth/AuthenticatedSessionController.php
  Modules/Core/app/Http/Controllers/Auth/NewPasswordController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordController.php
  Modules/Core/app/Http/Controllers/Auth/RegisteredUserController.php
  Modules/Core/app/Http/Controllers/Auth/VerifyEmailController.php
Due: pint

fix(groups): update group member hook dependencies
  Modules/Groups/resources/assets/js/Pages/Groups/Hooks/useGroupMembers.js
Due: eslint, prettier

build(deps): add horizon, pulse, telescope and update npm packages
  boost.json
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

feat(config): add horizon, pulse, telescope configs and update bootstrap
  app/Providers/HorizonServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  bootstrap/app.php
  bootstrap/providers.php
  config/cache.php
  config/database.php
  config/horizon.php
  config/pulse.php
  config/telescope.php
Due: pint

feat(database): add pulse and telescope migrations
  database/migrations/2026_01_30_141658_create_pulse_tables.php
  database/migrations/2026_01_30_150844_create_telescope_entries_table.php
Due: pint

feat(registry): add command and signal handler registries
  app/Services/Registry/CategoryRegistry.php
  app/Services/Registry/CommandRegistry.php
  app/Services/Registry/DashboardWidgetRegistry.php
  app/Services/Registry/GroupRegistry.php
  app/Services/Registry/InertiaSharedDataRegistry.php
  app/Services/Registry/MenuRegistry.php
  app/Services/Registry/MiddlewareRegistry.php
  app/Services/Registry/PermissionRegistry.php
  app/Services/Registry/RoleRegistry.php
  app/Services/Registry/SettingsRegistry.php
  app/Services/Registry/SignalHandlerInterface.php
  app/Services/Registry/SignalHandlerRegistry.php
Due: pint

feat(ui): add new shared frontend components
  resources/js/Components/CommandPalette.jsx
  resources/js/Components/Common/CheckboxListRHF.jsx
  resources/js/Components/Common/PermissionMatrixRHF.jsx
  resources/js/Components/Common/SearchableSelectRHF.jsx
  resources/js/Components/Dashboard/DashboardFilterBar.jsx
  resources/js/Components/Form/DateRangePicker.jsx
  resources/js/Components/Form/DateTimePicker.jsx
  resources/js/Components/Form/MultiFilePicker.jsx
  resources/js/Components/ThemeSync.jsx
  resources/js/Components/ui/alert.jsx
  resources/js/Components/ui/command.jsx
  resources/js/Components/ui/progress.jsx
  resources/js/Components/ui/slider.jsx
  resources/js/Hooks/queries/useUserSearch.js
  resources/js/Hooks/useCommandPalette.js
  resources/js/Pages/Profile/Preferences.jsx
  resources/views/vendor/pulse/dashboard.blade.php
Due: eslint, prettier, pint

refactor(ui): update shared frontend components, hooks, stores, and layout
  resources/js/Components/Common/ChartCard.jsx
  resources/js/Components/Common/FormCard.jsx
  resources/js/Components/Common/ProgressBar.jsx
  resources/js/Components/Dashboard/ModuleDashboardPage.jsx
  resources/js/Components/Dashboard/ModuleSection.jsx
  resources/js/Components/DataDisplay/StatCard.jsx
  resources/js/Components/Navbar.jsx
  resources/js/Components/ThemeProvider.jsx
  resources/js/Components/Widgets/ActivityWidget.jsx
  resources/js/Components/Widgets/ChartWidget.jsx
  resources/js/Components/Widgets/StatWidget.jsx
  resources/js/Components/Widgets/SystemWidget.jsx
  resources/js/Components/Widgets/TableWidget.jsx
  resources/js/Components/ui/chart.jsx
  resources/js/Hooks/queries/README.md
  resources/js/Hooks/queries/useApiMutation.js
  resources/js/Hooks/useAppearance.js
  resources/js/Hooks/useIsMobile.js
  resources/js/Hooks/useNavigationTracking.js
  resources/js/Layouts/DashboardLayout.jsx
  resources/js/Pages/Dashboard.jsx
  resources/js/Pages/Profile/Edit.jsx
  resources/js/Stores/useAppStore.js
  resources/js/Stores/useNavigationStore.js
  resources/js/Stores/useUISettingsStore.js
  resources/js/Utils/format.js
  resources/js/Utils/iconResolver.js
  resources/js/app.jsx
  resources/js/ziggy.js
  routes/web.php
  vite.config.js
Due: eslint, prettier, pint

refactor(audit-log): update services and add command/signal registrars
  Modules/AuditLog/app/Console/Commands/CleanupAuditLogsCommand.php
  Modules/AuditLog/app/Http/Controllers/AuditLogDashboardController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Services/AuditLogCommandRegistrar.php
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
  Modules/AuditLog/app/Services/AuditLogMenuRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSettingsRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSignalRegistrar.php
  Modules/AuditLog/app/Services/Handlers/AuditLogCleanupCompletedHandler.php
  Modules/AuditLog/app/Services/Handlers/AuditLogJobFailedHandler.php
  Modules/AuditLog/resources/assets/js/Components/UserCombobox.jsx
  Modules/AuditLog/resources/assets/js/Pages/Dashboard.jsx
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
  Modules/AuditLog/routes/api.php
Due: eslint, prettier, pint

refactor(categories): update services and add command registrar
  Modules/Categories/app/Http/Controllers/CategoriesDashboardController.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Categories/app/Services/CategoriesCommandRegistrar.php
  Modules/Categories/app/Services/CategoriesDashboardService.php
  Modules/Categories/app/Services/CategoriesSettingsRegistrar.php
  Modules/Categories/resources/assets/js/Components/FormFields/ColorPickerRHF.jsx
  Modules/Categories/resources/assets/js/Components/FormFields/ParentSelectRHF.jsx
  Modules/Categories/resources/assets/js/Components/FormFields/TypeInputRHF.jsx
  Modules/Categories/resources/assets/js/Components/Forms/CategoryForm.jsx
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Dashboard.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Categories/resources/assets/js/Pages/Index.jsx
  Modules/Categories/routes/api.php
Due: eslint, prettier, pint

refactor(groups): add group/member services and registrars
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsDashboardController.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Services/Group/Handlers/GroupPermissionsSyncedHandler.php
  Modules/Groups/app/Services/Group/Handlers/GroupRolesSyncedHandler.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/app/Services/GroupsCommandRegistrar.php
  Modules/Groups/app/Services/GroupsDashboardService.php
  Modules/Groups/app/Services/GroupsPermissionRegistrar.php
  Modules/Groups/app/Services/GroupsSettingsRegistrar.php
  Modules/Groups/app/Services/GroupsSignalRegistrar.php
  Modules/Groups/app/Services/Member/Handlers/MemberAddedHandler.php
  Modules/Groups/app/Services/Member/Handlers/MemberRemovedHandler.php
  Modules/Groups/app/Services/Member/Handlers/MemberTransferredHandler.php
  Modules/Groups/resources/assets/js/Components/Forms/GroupForm.jsx
  Modules/Groups/resources/assets/js/Components/MemberSelect.jsx
  Modules/Groups/resources/assets/js/Pages/Dashboard.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Create.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Index.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
  Modules/Groups/routes/api.php
Due: eslint, prettier, pint

refactor(media): add handlers and command/signal registrars
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/app/Http/Controllers/MediaDashboardController.php
  Modules/Media/app/Policies/MediaFilePolicy.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Media/app/Services/Handlers/MediaUploadFailedHandler.php
  Modules/Media/app/Services/MediaCommandRegistrar.php
  Modules/Media/app/Services/MediaDashboardService.php
  Modules/Media/app/Services/MediaSettingsRegistrar.php
  Modules/Media/app/Services/MediaSignalRegistrar.php
  Modules/Media/resources/assets/js/Pages/Dashboard.jsx
  Modules/Media/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier, pint

refactor(settings): add handlers and command/signal registrars
  Modules/Settings/app/Enums/SettingType.php
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Http/Controllers/SettingsDashboardController.php
  Modules/Settings/app/Models/Setting.php
  Modules/Settings/app/Policies/SettingPolicy.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/app/Services/Handlers/SettingsChangedHandler.php
  Modules/Settings/app/Services/SettingsCommandRegistrar.php
  Modules/Settings/app/Services/SettingsDashboardService.php
  Modules/Settings/app/Services/SettingsMenuRegistrar.php
  Modules/Settings/app/Services/SettingsSettingsRegistrar.php
  Modules/Settings/app/Services/SettingsSignalRegistrar.php
  Modules/Settings/database/migrations/2025_11_30_105533_create_settings_config_table.php
  Modules/Settings/resources/assets/js/Pages/Dashboard.jsx
  Modules/Settings/resources/assets/js/Pages/Index.jsx
  Modules/Settings/routes/api.php
Due: eslint, prettier, pint

refactor(signal): add jobs, hooks, utils, and command registrar
  Modules/Signal/app/Events/NotificationReceived.php
  Modules/Signal/app/Http/Controllers/SignalController.php
  Modules/Signal/app/Jobs/SendNotificationJob.php
  Modules/Signal/app/Policies/NotificationPolicy.php
  Modules/Signal/app/Providers/SignalServiceProvider.php
  Modules/Signal/app/Services/SignalCommandRegistrar.php
  Modules/Signal/app/Services/SignalPermissionRegistrar.php
  Modules/Signal/app/Services/SignalPreferenceService.php
  Modules/Signal/app/Services/SignalService.php
  Modules/Signal/app/Services/SignalSettingsRegistrar.php
  Modules/Signal/app/Traits/SendsSignalNotifications.php
  Modules/Signal/resources/assets/audio/notification-default.mp3
  Modules/Signal/resources/assets/audio/notification-error.mp3
  Modules/Signal/resources/assets/audio/notification-success.mp3
  Modules/Signal/resources/assets/audio/notification-warning.mp3
  Modules/Signal/resources/assets/js/Components/SignalBell.jsx
  Modules/Signal/resources/assets/js/Components/SignalDropdown.jsx
  Modules/Signal/resources/assets/js/Components/SignalItem.jsx
  Modules/Signal/resources/assets/js/Hooks/useNotificationQueries.js
  Modules/Signal/resources/assets/js/Hooks/useSignalListener.js
  Modules/Signal/resources/assets/js/Pages/Index.jsx
  Modules/Signal/resources/assets/js/Pages/Show.jsx
  Modules/Signal/resources/assets/js/Utils/notificationSound.js
  Modules/Signal/routes/api.php
Due: eslint, prettier, pint

refactor(vault): add lock services, hooks, and registrars
  Modules/Vault/app/Http/Controllers/VaultDashboardController.php
  Modules/Vault/app/Http/Controllers/VaultLockController.php
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
  Modules/Vault/app/Http/Requests/StoreVaultRequest.php
  Modules/Vault/app/Http/Requests/UpdateVaultRequest.php
  Modules/Vault/app/Models/Vault.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
  Modules/Vault/app/Services/Lock/Handlers/VaultAutoLockedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultLockedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultPinChangedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultUnlockedHandler.php
  Modules/Vault/app/Services/VaultCommandRegistrar.php
  Modules/Vault/app/Services/VaultDashboardService.php
  Modules/Vault/app/Services/VaultMenuRegistrar.php
  Modules/Vault/app/Services/VaultPermissionRegistrar.php
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
  Modules/Vault/app/Services/VaultSignalRegistrar.php
  Modules/Vault/database/migrations/2025_12_07_182412_create_vaults_table.php
  Modules/Vault/resources/assets/js/Components/FormFields/CardNumberInputRHF.jsx
  Modules/Vault/resources/assets/js/Components/FormFields/VaultFormInputRHF.jsx
  Modules/Vault/resources/assets/js/Components/FormFields/VaultSelectRHF.jsx
  Modules/Vault/resources/assets/js/Components/FormFields/VaultSwitchRHF.jsx
  Modules/Vault/resources/assets/js/Components/VaultCard.jsx
  Modules/Vault/resources/assets/js/Components/VaultFormFields.jsx
  Modules/Vault/resources/assets/js/Hooks/useVaultLockGuard.js
  Modules/Vault/resources/assets/js/Hooks/useVaultQueries.js
  Modules/Vault/resources/assets/js/Pages/Create.jsx
  Modules/Vault/resources/assets/js/Pages/Dashboard.jsx
  Modules/Vault/resources/assets/js/Pages/Edit.jsx
  Modules/Vault/resources/assets/js/Pages/Index.jsx
  Modules/Vault/resources/assets/js/Pages/Lock.jsx
  Modules/Vault/resources/assets/js/Schemas/vaultSchemas.js
  Modules/Vault/routes/api.php
Due: eslint, prettier, pint

chore(treasury): add assets gitkeep
  Modules/Treasury/resources/assets/.gitkeep
Due: none

docs(audit-log): add PHPDoc headers and annotations
  Modules/AuditLog/app/Console/Commands/CleanupAuditLogsCommand.php
  Modules/AuditLog/app/Enums/AuditLogEvent.php
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Http/Controllers/AuditLogDashboardController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Policies/AuditLogPolicy.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Providers/AuthServiceProvider.php
  Modules/AuditLog/app/Providers/EventServiceProvider.php
  Modules/AuditLog/app/Providers/RouteServiceProvider.php
  Modules/AuditLog/app/Services/AuditLogCommandRegistrar.php
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
  Modules/AuditLog/app/Services/AuditLogFormatterFactory.php
  Modules/AuditLog/app/Services/AuditLogFormattingHelper.php
  Modules/AuditLog/app/Services/AuditLogMenuRegistrar.php
  Modules/AuditLog/app/Services/AuditLogPermissionRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSettingsRegistrar.php
  Modules/AuditLog/app/Services/AuditLogSignalRegistrar.php
  Modules/AuditLog/app/Services/Formatters/AuditLogFormatter.php
  Modules/AuditLog/app/Services/Formatters/AuthenticationEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/FileEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/GenericEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/RelationshipEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/UserEventFormatter.php
  Modules/AuditLog/app/Services/Handlers/AuditLogCleanupCompletedHandler.php
  Modules/AuditLog/app/Services/Handlers/AuditLogJobFailedHandler.php
  Modules/AuditLog/app/Traits/DispatchAuditLog.php
  Modules/AuditLog/app/Traits/LogsActivity.php
  Modules/AuditLog/app/Traits/SyncsRelationshipsWithAuditLog.php
Due: pint

docs(categories): add PHPDoc headers and annotations
  Modules/Categories/app/Http/Controllers/CategoriesController.php
  Modules/Categories/app/Http/Controllers/CategoriesDashboardController.php
  Modules/Categories/app/Http/Requests/StoreCategoryRequest.php
  Modules/Categories/app/Http/Requests/UpdateCategoryRequest.php
  Modules/Categories/app/Models/Category.php
  Modules/Categories/app/Observers/CategoryObserver.php
  Modules/Categories/app/Policies/CategoryPolicy.php
  Modules/Categories/app/Providers/AuthServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Categories/app/Providers/EventServiceProvider.php
  Modules/Categories/app/Providers/RouteServiceProvider.php
  Modules/Categories/app/Services/CategoriesCategoryRegistrar.php
  Modules/Categories/app/Services/CategoriesCommandRegistrar.php
  Modules/Categories/app/Services/CategoriesDashboardService.php
  Modules/Categories/app/Services/CategoriesMenuRegistrar.php
  Modules/Categories/app/Services/CategoriesPermissionRegistrar.php
  Modules/Categories/app/Services/CategoriesSettingsRegistrar.php
  Modules/Categories/resources/assets/js/Components/Forms/CategoryForm.jsx
Due: eslint, prettier, pint

docs(core): add PHPDoc to controllers and requests
  Modules/Core/app/Http/Controllers/Api/UserController.php
  Modules/Core/app/Http/Controllers/Auth/ConfirmablePasswordController.php
  Modules/Core/app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  Modules/Core/app/Http/Controllers/Auth/EmailVerificationPromptController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordResetLinkController.php
  Modules/Core/app/Http/Controllers/DashboardController.php
  Modules/Core/app/Http/Controllers/GuestController.php
  Modules/Core/app/Http/Controllers/ModuleManagerController.php
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserPreferenceController.php
  Modules/Core/app/Http/Controllers/WelcomeController.php
  Modules/Core/app/Http/Requests/Auth/LoginRequest.php
  Modules/Core/app/Http/Requests/ProfileUpdateRequest.php
  Modules/Core/app/Http/Requests/StoreRoleRequest.php
  Modules/Core/app/Http/Requests/StoreUserRequest.php
  Modules/Core/app/Http/Requests/UpdateRoleRequest.php
  Modules/Core/app/Http/Requests/UpdateUserRequest.php
Due: pint

docs(core): add PHPDoc to models, observers, and policies
  Modules/Core/app/Constants/Roles.php
  Modules/Core/app/Models/Menu.php
  Modules/Core/app/Models/Permission.php
  Modules/Core/app/Models/Role.php
  Modules/Core/app/Models/User.php
  Modules/Core/app/Models/UserPreference.php
  Modules/Core/app/Observers/MenuObserver.php
  Modules/Core/app/Observers/PermissionObserver.php
  Modules/Core/app/Observers/RoleObserver.php
  Modules/Core/app/Observers/UserObserver.php
  Modules/Core/app/Policies/RolePolicy.php
  Modules/Core/app/Policies/UserPolicy.php
Due: pint

docs(core): add PHPDoc to providers, services, and traits
  Modules/Core/app/Console/BulkCreateUsersCommand.php
  Modules/Core/app/Providers/AuthServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Core/app/Providers/EventServiceProvider.php
  Modules/Core/app/Providers/RouteServiceProvider.php
  Modules/Core/app/Services/Auth/Handlers/EmailVerifiedHandler.php
  Modules/Core/app/Services/Auth/Handlers/NewUserAdminHandler.php
  Modules/Core/app/Services/Auth/Handlers/PasswordChangedHandler.php
  Modules/Core/app/Services/Auth/Handlers/PasswordResetHandler.php
  Modules/Core/app/Services/Auth/Handlers/UserLockoutHandler.php
  Modules/Core/app/Services/Auth/Handlers/UserLoginHandler.php
  Modules/Core/app/Services/Auth/Handlers/UserRegisteredHandler.php
  Modules/Core/app/Services/CoreCommandRegistrar.php
  Modules/Core/app/Services/CoreDashboardService.php
  Modules/Core/app/Services/CoreMenuRegistrar.php
  Modules/Core/app/Services/CorePermissionRegistrar.php
  Modules/Core/app/Services/CoreSettingsRegistrar.php
  Modules/Core/app/Services/CoreSignalRegistrar.php
  Modules/Core/app/Services/PermissionCacheService.php
  Modules/Core/app/Services/PermissionService.php
  Modules/Core/app/Services/Role/Handlers/RolePermissionsSyncedHandler.php
  Modules/Core/app/Services/SuperAdminService.php
  Modules/Core/app/Services/User/Handlers/EmailChangedHandler.php
  Modules/Core/app/Services/User/Handlers/UserRoleChangedHandler.php
  Modules/Core/app/Traits/ChecksGuestUser.php
  Modules/Core/app/Traits/ChecksSuperAdmin.php
  Modules/Core/app/Traits/HasSuperAdminBypass.php
  Modules/Core/app/Traits/HasUserOwnership.php
Due: pint

style(core): clean up inline comments in frontend
  Modules/Core/resources/assets/js/Pages/Modules/Index.jsx
Due: eslint, prettier

docs(groups): add PHPDoc headers and annotations
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupMemberController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsDashboardController.php
  Modules/Groups/app/Http/Requests/AddMembersRequest.php
  Modules/Groups/app/Http/Requests/RemoveMembersRequest.php
  Modules/Groups/app/Http/Requests/StoreGroupRequest.php
  Modules/Groups/app/Http/Requests/TransferMembersRequest.php
  Modules/Groups/app/Http/Requests/UpdateGroupRequest.php
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Observers/GroupObserver.php
  Modules/Groups/app/Policies/GroupPolicy.php
  Modules/Groups/app/Providers/AuthServiceProvider.php
  Modules/Groups/app/Providers/EventServiceProvider.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Providers/RouteServiceProvider.php
  Modules/Groups/app/Services/Group/Handlers/GroupPermissionsSyncedHandler.php
  Modules/Groups/app/Services/Group/Handlers/GroupRolesSyncedHandler.php
  Modules/Groups/app/Services/GroupCacheService.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/app/Services/GroupPermissionCacheService.php
  Modules/Groups/app/Services/GroupsCommandRegistrar.php
  Modules/Groups/app/Services/GroupsDashboardService.php
  Modules/Groups/app/Services/GroupsGroupRegistrar.php
  Modules/Groups/app/Services/GroupsMenuRegistrar.php
  Modules/Groups/app/Services/GroupsPermissionRegistrar.php
  Modules/Groups/app/Services/GroupsRoleService.php
  Modules/Groups/app/Services/GroupsSettingsRegistrar.php
  Modules/Groups/app/Services/GroupsSignalRegistrar.php
  Modules/Groups/app/Services/Member/Handlers/MemberAddedHandler.php
  Modules/Groups/app/Services/Member/Handlers/MemberRemovedHandler.php
  Modules/Groups/app/Services/Member/Handlers/MemberTransferredHandler.php
  Modules/Groups/app/Traits/HasGroups.php
  Modules/Groups/database/seeders/GroupsDatabaseSeeder.php
  Modules/Groups/resources/assets/js/Components/Forms/GroupForm.jsx
  Modules/Groups/resources/assets/js/Components/MemberSelect.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
  Modules/Groups/routes/web.php
Due: eslint, prettier, pint

docs(media): add PHPDoc headers and annotations
  Modules/Media/app/Console/CleanupTemporaryMedia.php
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/app/Http/Controllers/MediaDashboardController.php
  Modules/Media/app/Http/Requests/UploadMediaRequest.php
  Modules/Media/app/Models/MediaFile.php
  Modules/Media/app/Observers/MediaFileObserver.php
  Modules/Media/app/Policies/MediaFilePolicy.php
  Modules/Media/app/Providers/AuthServiceProvider.php
  Modules/Media/app/Providers/EventServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Media/app/Providers/RouteServiceProvider.php
  Modules/Media/app/Services/Handlers/MediaUploadFailedHandler.php
  Modules/Media/app/Services/MediaCommandRegistrar.php
  Modules/Media/app/Services/MediaDashboardService.php
  Modules/Media/app/Services/MediaMenuRegistrar.php
  Modules/Media/app/Services/MediaPermissionRegistrar.php
  Modules/Media/app/Services/MediaSettingsRegistrar.php
  Modules/Media/app/Services/MediaSignalRegistrar.php
  Modules/Media/resources/assets/js/Pages/Index.jsx
  Modules/Media/routes/web.php
Due: eslint, prettier, pint

docs(settings): add PHPDoc headers and annotations
  Modules/Settings/app/Enums/SettingType.php
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Http/Controllers/SettingsDashboardController.php
  Modules/Settings/app/Http/Requests/UpdateSettingsRequest.php
  Modules/Settings/app/Models/Setting.php
  Modules/Settings/app/Policies/SettingPolicy.php
  Modules/Settings/app/Providers/AuthServiceProvider.php
  Modules/Settings/app/Providers/EventServiceProvider.php
  Modules/Settings/app/Providers/RouteServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/app/Services/Handlers/SettingsChangedHandler.php
  Modules/Settings/app/Services/SettingsCommandRegistrar.php
  Modules/Settings/app/Services/SettingsDashboardService.php
  Modules/Settings/app/Services/SettingsMenuRegistrar.php
  Modules/Settings/app/Services/SettingsPermissionRegistrar.php
  Modules/Settings/app/Services/SettingsSettingsRegistrar.php
  Modules/Settings/app/Services/SettingsSignalRegistrar.php
  Modules/Settings/database/migrations/2025_11_30_105533_create_settings_config_table.php
  Modules/Settings/database/seeders/SettingsDatabaseSeeder.php
  Modules/Settings/database/seeders/SettingsPermissionSeeder.php
  Modules/Settings/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier, pint

docs(signal): add PHPDoc headers and clean up comments
  Modules/Signal/app/Http/Controllers/SignalController.php
  Modules/Signal/app/Jobs/SendNotificationJob.php
  Modules/Signal/app/Providers/SignalServiceProvider.php
  Modules/Signal/app/Services/SignalCommandRegistrar.php
  Modules/Signal/app/Services/SignalService.php
  Modules/Signal/app/Services/SignalSettingsRegistrar.php
  Modules/Signal/resources/assets/js/Components/SignalBell.jsx
  Modules/Signal/resources/assets/js/Components/SignalDropdown.jsx
  Modules/Signal/resources/assets/js/Hooks/useSignalListener.js
  Modules/Signal/resources/assets/js/Utils/notificationSound.js
  Modules/Signal/routes/web.php
Due: eslint, prettier, pint

docs(treasury): add PHPDoc to console commands
  Modules/Treasury/app/Console/Commands/CheckBudgetRolloverDebtCommand.php
  Modules/Treasury/app/Console/Commands/CheckGoalStatusCommand.php
  Modules/Treasury/app/Console/Commands/CheckWalletInactivityCommand.php
  Modules/Treasury/app/Console/Commands/ReconcileTreasuryBalances.php
  Modules/Treasury/app/Console/Commands/RefreshExchangeRatesCommand.php
  Modules/Treasury/app/Console/Commands/SendDailyTransactionSummaryCommand.php
  Modules/Treasury/app/Console/Commands/SendGoalSummaryCommand.php
  Modules/Treasury/app/Console/Commands/SendNetWorthSummaryCommand.php
  Modules/Treasury/app/Console/Commands/SendWeeklyTransactionSummaryCommand.php
Due: pint

docs(treasury): add PHPDoc to controllers and requests
  Modules/Treasury/app/Http/Controllers/Api/FinancialHealthController.php
  Modules/Treasury/app/Http/Controllers/BudgetController.php
  Modules/Treasury/app/Http/Controllers/TransactionController.php
  Modules/Treasury/app/Http/Controllers/TreasuryDashboardController.php
  Modules/Treasury/app/Http/Controllers/TreasuryGoalController.php
  Modules/Treasury/app/Http/Controllers/TreasuryOverviewController.php
  Modules/Treasury/app/Http/Controllers/TreasuryReportController.php
  Modules/Treasury/app/Http/Controllers/WalletController.php
  Modules/Treasury/app/Http/Requests/AllocateGoalRequest.php
  Modules/Treasury/app/Http/Requests/StoreBudgetRequest.php
  Modules/Treasury/app/Http/Requests/StoreGoalRequest.php
  Modules/Treasury/app/Http/Requests/StoreTransactionRequest.php
  Modules/Treasury/app/Http/Requests/StoreWalletRequest.php
  Modules/Treasury/app/Http/Requests/UpdateBudgetRequest.php
  Modules/Treasury/app/Http/Requests/UpdateGoalRequest.php
  Modules/Treasury/app/Http/Requests/UpdateTransactionRequest.php
  Modules/Treasury/app/Http/Requests/UpdateWalletRequest.php
Due: pint

docs(treasury): add PHPDoc to models, observers, and policies
  Modules/Treasury/app/Models/Budget.php
  Modules/Treasury/app/Models/BudgetPeriod.php
  Modules/Treasury/app/Models/ExchangeRate.php
  Modules/Treasury/app/Models/Transaction.php
  Modules/Treasury/app/Models/TreasuryGoal.php
  Modules/Treasury/app/Models/Wallet.php
  Modules/Treasury/app/Observers/BudgetObserver.php
  Modules/Treasury/app/Observers/BudgetPeriodObserver.php
  Modules/Treasury/app/Observers/TransactionObserver.php
  Modules/Treasury/app/Observers/TreasuryGoalObserver.php
  Modules/Treasury/app/Observers/WalletObserver.php
  Modules/Treasury/app/Policies/BudgetPolicy.php
  Modules/Treasury/app/Policies/TransactionPolicy.php
  Modules/Treasury/app/Policies/TreasuryGoalPolicy.php
  Modules/Treasury/app/Policies/WalletPolicy.php
Due: pint

docs(treasury): add PHPDoc to providers, jobs, and listeners
  Modules/Treasury/app/Jobs/RefreshExchangeRatesJob.php
  Modules/Treasury/app/Listeners/HandleTreasuryInstalled.php
  Modules/Treasury/app/Providers/AuthServiceProvider.php
  Modules/Treasury/app/Providers/EventServiceProvider.php
  Modules/Treasury/app/Providers/RouteServiceProvider.php
  Modules/Treasury/app/Providers/TreasuryServiceProvider.php
Due: pint

style(treasury): clean up database migrations and route comments
  Modules/Treasury/database/migrations/2026_01_25_111536_create_wallets_table.php
  Modules/Treasury/database/migrations/2026_01_25_111540_create_treasury_goals_table.php
  Modules/Treasury/database/migrations/2026_01_25_111545_create_budgets_table.php
  Modules/Treasury/database/migrations/2026_01_25_111551_create_transactions_table.php
  Modules/Treasury/routes/web.php
Due: pint

style(treasury): clean up inline comments in frontend
  Modules/Treasury/resources/assets/js/Components/BudgetPieChart.jsx
  Modules/Treasury/resources/assets/js/Components/CurrencyInput.jsx
  Modules/Treasury/resources/assets/js/Components/FormFields/CurrencySelectRHF.jsx
  Modules/Treasury/resources/assets/js/Components/Forms/BudgetForm.jsx
  Modules/Treasury/resources/assets/js/Components/Forms/GoalForm.jsx
  Modules/Treasury/resources/assets/js/Components/Forms/TransactionForm.jsx
  Modules/Treasury/resources/assets/js/Components/Forms/WalletForm.jsx
  Modules/Treasury/resources/assets/js/Components/GoalProgressItem.jsx
  Modules/Treasury/resources/assets/js/Components/IncomeExpenseChart.jsx
  Modules/Treasury/resources/assets/js/Components/Modals/FinancialTipModal.jsx
  Modules/Treasury/resources/assets/js/Components/NetWorthChart.jsx
  Modules/Treasury/resources/assets/js/Components/SearchableSelect.jsx
  Modules/Treasury/resources/assets/js/Components/TransactionItem.jsx
  Modules/Treasury/resources/assets/js/Pages/Budgets/Edit.jsx
  Modules/Treasury/resources/assets/js/Pages/Goals/Index.jsx
  Modules/Treasury/resources/assets/js/Pages/Goals/Show.jsx
  Modules/Treasury/resources/assets/js/Pages/Reports/Index.jsx
  Modules/Treasury/resources/assets/js/Pages/Transactions/Create.jsx
  Modules/Treasury/resources/assets/js/Pages/Transactions/Index.jsx
  Modules/Treasury/resources/assets/js/Pages/Transactions/Show.jsx
  Modules/Treasury/resources/assets/js/Pages/Wallets/Index.jsx
  Modules/Treasury/resources/assets/js/Pages/Wallets/Show.jsx
  Modules/Treasury/resources/assets/js/Schemas/transactionSchemas.js
  Modules/Treasury/resources/assets/js/Utils/categoryIcons.js
  Modules/Treasury/resources/assets/js/Utils/goalIcons.js
Due: eslint, prettier

docs(vault): add PHPDoc headers and annotations
  Modules/Vault/app/Http/Controllers/VaultController.php
  Modules/Vault/app/Http/Controllers/VaultDashboardController.php
  Modules/Vault/app/Http/Controllers/VaultLockController.php
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
  Modules/Vault/app/Http/Requests/StoreVaultRequest.php
  Modules/Vault/app/Http/Requests/UpdateVaultRequest.php
  Modules/Vault/app/Models/Vault.php
  Modules/Vault/app/Models/VaultLock.php
  Modules/Vault/app/Policies/VaultPolicy.php
  Modules/Vault/app/Providers/AuthServiceProvider.php
  Modules/Vault/app/Providers/EventServiceProvider.php
  Modules/Vault/app/Providers/RouteServiceProvider.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
  Modules/Vault/app/Services/Lock/Handlers/VaultAutoLockedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultLockedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultPinChangedHandler.php
  Modules/Vault/app/Services/Lock/Handlers/VaultUnlockedHandler.php
  Modules/Vault/app/Services/VaultCategoryRegistrar.php
  Modules/Vault/app/Services/VaultCommandRegistrar.php
  Modules/Vault/app/Services/VaultDashboardService.php
  Modules/Vault/app/Services/VaultMenuRegistrar.php
  Modules/Vault/app/Services/VaultPermissionRegistrar.php
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
  Modules/Vault/app/Services/VaultSignalRegistrar.php
  Modules/Vault/config/config.php
  Modules/Vault/database/factories/VaultFactory.php
  Modules/Vault/database/migrations/2025_12_07_182412_create_vaults_table.php
  Modules/Vault/database/migrations/2025_12_08_104756_create_vault_locks_table.php
  Modules/Vault/database/seeders/VaultDatabaseSeeder.php
  Modules/Vault/database/seeders/VaultPermissionSeeder.php
Due: pint
