Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

pint:
  run: vendor/bin/pint {staged_files}
  stage_fixed: true

test(trusted-proxy): add HTTPS URL scheme verification
  tests/Feature/TrustedProxyTest.php
Due: pint

chore(docs): update readme
  README.md
Due: none

chore(deps): update in-range packages and bump Vite toolchain to v8
  package-lock.json
  package.json
  vite.config.js
Due: none

fix(fonts): resolve Geist assets via JS imports for Vite 8
  resources/css/app.css
  resources/js/app.jsx
Due: eslint, prettier

chore(deps): upgrade to React 19, recharts 3, day-picker 10, lucide 1
  package-lock.json
  package.json
  resources/js/Components/AppSidebar.jsx
  resources/js/Components/icons/GithubIcon.jsx
  resources/js/Layouts/LandingLayout.jsx
  resources/js/Pages/Welcome.jsx
  resources/js/Utils/iconResolver.js
Due: eslint, prettier

chore(deps): upgrade tldraw 4 -> 5
  package-lock.json
  package.json
Due: none

chore(deps): upgrade prettier-sort-imports 6, shadcn 4
  package-lock.json
  package.json
Due: none

chore(deps): bump postcss to 8.5.25
  package-lock.json
Due: none

chore(deps): bump react-svg-credit-card-payment-icons to 6.0.4
  package-lock.json
  package.json
Due: none

chore(deps): update composer minor/patch versions and sync README tech stack
  README.md
  composer.lock
Due: none

chore(deps): bump React to v19 and Tailwind CSS to v4 in agent config
  AGENTS.md
  CLAUDE.md
Due: none

docs(skills): update Tailwind CSS skill to v4 patterns
  .claude/skills/tailwindcss-development/SKILL.md
Due: none

docs(skills): update Inertia React skill with v2 patterns
  .claude/skills/inertia-react-development/SKILL.md
Due: none

docs(skills): update Echo React skill with whisper and typing patterns
  .claude/skills/echo-react-development/SKILL.md
Due: none

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier: any of: **/*.{js,jsx,ts,tsx}
  pint: any of: *.php
