Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

refactor(auditlog): prefix table name with module prefix
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/database/migrations/2025_12_01_020235_create_auditlog_entries_table.php
Due: pint

refactor(core): prefix table names with module prefix
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Models/Menu.php
  Modules/Core/database/migrations/2025_12_02_133842_create_core_menus_table.php
Due: pint

refactor(groups): prefix pivot table names with module prefix
  Modules/Groups/app/Http/Requests/TransferMembersRequest.php
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/app/Services/GroupsDashboardService.php
  Modules/Groups/app/Traits/HasGroups.php
  Modules/Groups/database/migrations/2025_12_05_043409_create_groups_users_table.php
  Modules/Groups/database/migrations/2025_12_05_043412_create_groups_permissions_table.php
  Modules/Groups/database/migrations/2025_12_05_080614_create_groups_roles_table.php
Due: pint

refactor(settings): prefix table name with module prefix
  Modules/Settings/app/Models/Setting.php
  Modules/Settings/database/migrations/2025_11_30_105533_create_settings_config_table.php
Due: pint

chore: update ziggy routes file
  resources/js/ziggy.js
Due: eslint, prettier

feat(ui): add PasswordFieldRHF component with reveal password
  resources/js/Components/Common/PasswordFieldRHF.jsx
Due: eslint, prettier

feat(profile): add reveal password to profile password forms
  resources/js/Pages/Profile/Partials/DeleteUserForm.jsx
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
Due: eslint, prettier

feat(users): add reveal password to user management forms
  Modules/Core/resources/assets/js/Pages/Users/Create.jsx
  Modules/Core/resources/assets/js/Pages/Users/Edit.jsx
Due: eslint, prettier

refactor(forms): standardize button placement across all forms
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Create.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Edit.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Create.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
Due: eslint, prettier

refactor(modules): standardize composer.json files
  Modules/AuditLog/composer.json
  Modules/Categories/composer.json
  Modules/Core/composer.json
  Modules/Groups/composer.json
  Modules/Media/composer.json
  Modules/Settings/composer.json
Due: none

refactor(modules): standardize module.json providers and requires
  Modules/Core/module.json
  Modules/Groups/module.json
  Modules/Media/module.json
  Modules/Settings/module.json
Due: none

refactor(auditlog): remove App\ prefix from namespaces
  Modules/AuditLog/app/Console/Commands/CleanupAuditLogsCommand.php
  Modules/AuditLog/app/Enums/AuditLogEvent.php
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Jobs/CreateAuditLogJob.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Policies/AuditLogPolicy.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Providers/AuthServiceProvider.php
  Modules/AuditLog/app/Services/AuditLogDashboardService.php
  Modules/AuditLog/app/Services/AuditLogFormatterFactory.php
  Modules/AuditLog/app/Services/AuditLogFormattingHelper.php
  Modules/AuditLog/app/Services/AuditLogPermissionRegistrar.php
  Modules/AuditLog/app/Services/Formatters/AuditLogFormatter.php
  Modules/AuditLog/app/Services/Formatters/AuthenticationEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/FileEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/GenericEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/RelationshipEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/UserEventFormatter.php
  Modules/AuditLog/app/Traits/DispatchAuditLog.php
  Modules/AuditLog/app/Traits/LogsActivity.php
  Modules/AuditLog/app/Traits/SyncsRelationshipsWithAuditLog.php
Due: pint

refactor(groups): remove App\ prefix from namespaces
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupMemberController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Http/Requests/StoreGroupRequest.php
  Modules/Groups/app/Http/Requests/UpdateGroupRequest.php
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Observers/GroupObserver.php
  Modules/Groups/app/Policies/GroupPolicy.php
  Modules/Groups/app/Providers/AuthServiceProvider.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Services/GroupCacheService.php
  Modules/Groups/app/Services/GroupMemberService.php
  Modules/Groups/app/Services/GroupPermissionCacheService.php
  Modules/Groups/app/Services/GroupsDashboardService.php
  Modules/Groups/app/Services/GroupsRoleService.php
  Modules/Groups/app/Traits/HasGroups.php
  Modules/Groups/database/seeders/GroupsDatabaseSeeder.php
Due: pint

refactor(categories): remove App\ prefix from namespaces
  Modules/Categories/app/Models/Category.php
  Modules/Categories/app/Policies/CategoryPolicy.php
  Modules/Categories/app/Providers/AuthServiceProvider.php
  Modules/Categories/app/Services/CategoriesPermissionRegistrar.php
Due: pint

refactor(settings): remove App\ prefix from namespaces
  Modules/Settings/app/Models/Setting.php
  Modules/Settings/app/Policies/SettingPolicy.php
  Modules/Settings/app/Providers/AuthServiceProvider.php
Due: pint

refactor(media): remove App\ prefix from namespaces
  Modules/Media/app/Models/MediaFile.php
  Modules/Media/app/Policies/MediaFilePolicy.php
Due: pint

refactor(app): update references to module namespaces
  app/Providers/AppServiceProvider.php
  app/Services/Modules/ModuleDependencyValidator.php
  app/Services/Registry/MenuRegistry.php
  app/Services/Registry/PermissionRegistry.php
  app/Services/Registry/RoleRegistry.php
  bootstrap/providers.php
  config/auth.php
Due: pint

refactor(tests): update test files to use new module namespaces
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/PasswordUpdateTest.php
  tests/Feature/ProfileTest.php
Due: pint

chore(assets): update ziggy route definitions
  resources/js/ziggy.js
Due: eslint, prettier

perf(icons): optimize icon bundle by using whitelist approach
  resources/js/Utils/iconResolver.js
Due: eslint, prettier

perf(build): optimize module alias generation with active modules filtering
  app/Services/Modules/ModuleRegistryHelper.php
  jsconfig.json
  vite.config.js
Due: pint

refactor(imports): migrate module imports to use alias paths
  Modules/AuditLog/resources/assets/js/Pages/Index.jsx
  Modules/AuditLog/resources/assets/js/Pages/Show.jsx
  Modules/Categories/resources/assets/js/Pages/Create.jsx
  Modules/Categories/resources/assets/js/Pages/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Auth/ConfirmPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/ForgotPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/Login.jsx
  Modules/Core/resources/assets/js/Pages/Auth/Register.jsx
  Modules/Core/resources/assets/js/Pages/Auth/ResetPassword.jsx
  Modules/Core/resources/assets/js/Pages/Auth/VerifyEmail.jsx
  Modules/Core/resources/assets/js/Pages/Modules/Index.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Create.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Edit.jsx
  Modules/Core/resources/assets/js/Pages/Roles/Index.jsx
  Modules/Core/resources/assets/js/Pages/Users/Create.jsx
  Modules/Core/resources/assets/js/Pages/Users/Edit.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/AddMembersDialog.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Components/TransferMembersDialog.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Create.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Edit.jsx
  Modules/Groups/resources/assets/js/Pages/Groups/Hooks/useGroupMembers.js
  Modules/Groups/resources/assets/js/Pages/Groups/Show.jsx
  Modules/Groups/resources/assets/js/Utils/userUtils.js
  Modules/Settings/resources/assets/js/Pages/Index.jsx
  resources/js/Pages/Profile/Partials/UpdatePasswordForm.jsx
  resources/js/Pages/Profile/Partials/UpdateProfileInformationForm.jsx
Due: eslint, prettier

perf(inertia): configure prefetching with delay for better UX
  resources/js/app.jsx
Due: eslint, prettier

fix(modules): resolve circular dependencies in protected modules
  Modules/AuditLog/module.json
  Modules/Categories/module.json
  Modules/Groups/module.json
  Modules/Media/module.json
Due: none

feat(categories): register CategoryObserver for cache invalidation
  Modules/Categories/app/Observers/CategoryObserver.php
  Modules/Categories/app/Providers/EventServiceProvider.php
Due: pint

chore(deps): add vault module dependencies
  composer.json
  package.json
Due: none

feat(vault): add core vault module structure
  Modules/Vault/app/Http/Controllers/.gitkeep
  Modules/Vault/app/Http/Controllers/VaultController.php
  Modules/Vault/app/Http/Controllers/VaultDashboardController.php
  Modules/Vault/app/Http/Requests/StoreVaultRequest.php
  Modules/Vault/app/Http/Requests/UpdateVaultRequest.php
  Modules/Vault/app/Models/Vault.php
  Modules/Vault/app/Policies/VaultPolicy.php
  Modules/Vault/database/factories/.gitkeep
  Modules/Vault/database/factories/VaultFactory.php
  Modules/Vault/database/migrations/.gitkeep
  Modules/Vault/database/migrations/2025_12_07_182412_create_vaults_table.php
  Modules/Vault/database/seeders/.gitkeep
  Modules/Vault/database/seeders/VaultDatabaseSeeder.php
  Modules/Vault/database/seeders/VaultPermissionSeeder.php
Due: pint

feat(vault): register vault module services and providers
  Modules/Vault/app/Providers/.gitkeep
  Modules/Vault/app/Providers/AuthServiceProvider.php
  Modules/Vault/app/Providers/EventServiceProvider.php
  Modules/Vault/app/Providers/RouteServiceProvider.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
  Modules/Vault/app/Services/VaultCategoryRegistrar.php
  Modules/Vault/app/Services/VaultDashboardService.php
  Modules/Vault/app/Services/VaultMenuRegistrar.php
  Modules/Vault/app/Services/VaultPermissionRegistrar.php
  Modules/Vault/app/Services/VaultSettingsRegistrar.php
  Modules/Vault/config/.gitkeep
  Modules/Vault/config/config.php
  Modules/Vault/routes/.gitkeep
  Modules/Vault/routes/api.php
  Modules/Vault/routes/web.php
Due: pint

feat(vault): add frontend components and pages
  Modules/Vault/resources/assets/js/Components/CardTypeLogo.jsx
  Modules/Vault/resources/assets/js/Components/QrCodeScanner.jsx
  Modules/Vault/resources/assets/js/Components/VaultCard.jsx
  Modules/Vault/resources/assets/js/Components/VaultFormFields.jsx
  Modules/Vault/resources/assets/js/Components/VaultFormInput.jsx
  Modules/Vault/resources/assets/js/Pages/Create.jsx
  Modules/Vault/resources/assets/js/Pages/Dashboard.jsx
  Modules/Vault/resources/assets/js/Pages/Edit.jsx
  Modules/Vault/resources/assets/js/Pages/Index.jsx
  Modules/Vault/resources/assets/js/Schemas/vaultSchemas.js
  Modules/Vault/resources/assets/js/Utils/cardTypeDetector.js
  Modules/Vault/resources/assets/js/Utils/maskUtils.js
  Modules/Vault/resources/assets/js/Utils/vaultUtils.js
  Modules/Vault/resources/views/.gitkeep
  Modules/Vault/resources/views/components/layouts/master.blade.php
  Modules/Vault/resources/views/index.blade.php
Due: eslint, prettier, pint

fix(forms): handle null values in FormTextareaRHF
  resources/js/Components/Common/FormTextareaRHF.jsx
Due: eslint, prettier

refactor(core): clean up unused code and improve comments
  app/Services/Core/InertiaSharedDataService.php
  app/Services/Modules/ModuleRegistryHelper.php
  app/Services/Registry/MenuRegistry.php
  resources/js/Utils/iconResolver.js
Due: eslint, prettier, pint

chore(deps): update lock files
  composer.lock
  package-lock.json
Due: none

chore(build): update generated files
  vite.config.js
Due: none

chore(vault): add module configuration and test structure
  Modules/Vault/composer.json
  Modules/Vault/module.json
  Modules/Vault/resources/assets/.gitkeep
  Modules/Vault/resources/assets/js/app.js
  Modules/Vault/resources/assets/sass/app.scss
  Modules/Vault/tests/Feature/.gitkeep
  Modules/Vault/tests/Unit/.gitkeep
Due: eslint, prettier

feat(core): add InertiaSharedDataRegistry service
  app/Services/Registry/InertiaSharedDataRegistry.php
Due: pint

feat(vault): add vault lock feature
  Modules/Vault/app/Http/Controllers/VaultLockController.php
  Modules/Vault/app/Http/Middleware/VaultLockMiddleware.php
  Modules/Vault/app/Models/VaultLock.php
  Modules/Vault/database/migrations/2025_12_08_104756_create_vault_locks_table.php
Due: pint

feat(vault): add vault lock UI components
  Modules/Vault/resources/assets/js/Components/VaultLockButton.jsx
  Modules/Vault/resources/assets/js/Pages/Lock.jsx
Due: eslint, prettier

refactor(core): migrate to InertiaSharedDataRegistry
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
  app/Providers/AppServiceProvider.php
  app/Services/Core/InertiaSharedDataService.php
Due: pint
