Repository fazaimron27/tooldock: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, pint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    pint:
      glob: "*.php"
      run: vendor/bin/pint {staged_files}
      stage_fixed: true

style(vault): clean up inline comments in frontend and routes
  Modules/Vault/resources/assets/js/Components/FormFields/CardNumberInputRHF.jsx
  Modules/Vault/resources/assets/js/Components/FormFields/VaultFormInputRHF.jsx
  Modules/Vault/resources/assets/js/Components/QrCodeScanner.jsx
  Modules/Vault/resources/assets/js/Components/VaultCard.jsx
  Modules/Vault/resources/assets/js/Components/VaultFormFields.jsx
  Modules/Vault/resources/assets/js/Hooks/useVaultLockGuard.js
  Modules/Vault/resources/assets/js/Pages/Create.jsx
  Modules/Vault/resources/assets/js/Pages/Dashboard.jsx
  Modules/Vault/resources/assets/js/Pages/Edit.jsx
  Modules/Vault/resources/assets/js/Pages/Index.jsx
  Modules/Vault/resources/assets/js/Schemas/vaultSchemas.js
  Modules/Vault/routes/web.php
Due: eslint, prettier, pint

style(app): clean up inline comments in shared frontend
  resources/js/Components/AppSidebar.jsx
  resources/js/Components/CommandPalette.jsx
  resources/js/Components/Common/PermissionMatrixRHF.jsx
  resources/js/Components/Common/ProgressBar.jsx
  resources/js/Components/Common/SearchableSelectRHF.jsx
  resources/js/Components/Dashboard/AddUserDialog.jsx
  resources/js/Components/Dashboard/CreateOrderDialog.jsx
  resources/js/Components/Dashboard/GenerateReportDialog.jsx
  resources/js/Components/Dashboard/ModuleDashboardPage.jsx
  resources/js/Components/DataDisplay/DataTable.jsx
  resources/js/Components/Form/DatePicker.jsx
  resources/js/Components/Form/DateRangePicker.jsx
  resources/js/Components/Form/DateTimePicker.jsx
  resources/js/Components/Form/MultiFilePicker.jsx
  resources/js/Components/Layouts/PageShell.jsx
  resources/js/Components/ThemeProvider.jsx
  resources/js/Components/ThemeSync.jsx
  resources/js/Components/Widgets/StatWidget.jsx
  resources/js/Components/ui/chart.jsx
  resources/js/Components/ui/sheet.jsx
  resources/js/Components/ui/sidebar.jsx
  resources/js/Hooks/queries/useApiMutation.js
  resources/js/Hooks/useCommandPalette.js
  resources/js/Hooks/useIsMobile.js
  resources/js/Hooks/useScrollBlur.js
  resources/js/Pages/Dashboard.jsx
  resources/js/Pages/Profile/Partials/DeleteUserForm.jsx
  resources/js/Utils/format.js
  resources/js/app.jsx
  routes/web.php
Due: eslint, prettier, pint

refactor(docker): replace queue worker with Laravel Horizon in supervisor
  docker/supervisor/supervisord.conf
Due: none

refactor(docker): simplify entrypoint and unify production caching
  docker/entrypoint.sh
Due: none

docs(modules): add PHPDoc to configureEmailVerification no-op overrides
  Modules/AuditLog/app/Providers/EventServiceProvider.php
  Modules/Categories/app/Providers/EventServiceProvider.php
  Modules/Core/app/Providers/EventServiceProvider.php
  Modules/Groups/app/Providers/EventServiceProvider.php
  Modules/Media/app/Providers/EventServiceProvider.php
  Modules/Settings/app/Providers/EventServiceProvider.php
  Modules/Signal/app/Providers/EventServiceProvider.php
  Modules/Treasury/app/Providers/EventServiceProvider.php
  Modules/Vault/app/Providers/EventServiceProvider.php
Due: pint

fix(ui): disable native required validation in FormFieldRHF
  resources/js/Components/Common/FormFieldRHF.jsx
Due: eslint, prettier

feat(ui): add habit-related icons to iconResolver
  resources/js/Utils/iconResolver.js
Due: eslint, prettier

build(vite): add @Routine module alias
  vite.config.js
Due: none

feat(core): add Life OS command group to CommandRegistry
  app/Services/Registry/CommandRegistry.php
Due: pint

refactor(command-registry): remove redundant parent field and reorder command groups
  Modules/Treasury/app/Services/TreasuryCommandRegistrar.php
  app/Services/Registry/CommandRegistry.php
Due: pint

refactor(app): replace inline FQCNs with use statements in core services
  app/Services/Cache/CacheService.php
  app/Services/Core/SettingsService.php
  app/Services/Core/UserPreferenceService.php
  app/Services/Modules/ModuleRegistryHelper.php
  app/Services/Registry/MenuRegistry.php
  app/Services/Registry/SettingsRegistry.php
  app/Services/Registry/SignalHandlerRegistry.php
Due: pint

refactor(audit-log): standardize FQCNs and add class docblocks
  Modules/AuditLog/app/Http/Controllers/AuditLogController.php
  Modules/AuditLog/app/Models/AuditLog.php
  Modules/AuditLog/app/Providers/AuditLogServiceProvider.php
  Modules/AuditLog/app/Providers/AuthServiceProvider.php
  Modules/AuditLog/app/Providers/EventServiceProvider.php
  Modules/AuditLog/app/Providers/RouteServiceProvider.php
  Modules/AuditLog/app/Services/AuditLogFormattingHelper.php
  Modules/AuditLog/app/Services/Formatters/AuthenticationEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/FileEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/GenericEventFormatter.php
  Modules/AuditLog/app/Services/Formatters/UserEventFormatter.php
  Modules/AuditLog/app/Traits/LogsActivity.php
Due: pint

refactor(categories): standardize FQCNs and add class docblocks
  Modules/Categories/app/Models/Category.php
  Modules/Categories/app/Providers/AuthServiceProvider.php
  Modules/Categories/app/Providers/CategoriesServiceProvider.php
  Modules/Categories/app/Providers/EventServiceProvider.php
  Modules/Categories/app/Providers/RouteServiceProvider.php
Due: pint

refactor(core): standardize FQCNs and add class docblocks
  Modules/Core/app/Http/Controllers/Api/UserController.php
  Modules/Core/app/Http/Controllers/Auth/PasswordController.php
  Modules/Core/app/Http/Controllers/Auth/RegisteredUserController.php
  Modules/Core/app/Http/Controllers/ModuleManagerController.php
  Modules/Core/app/Http/Controllers/ProfileController.php
  Modules/Core/app/Http/Controllers/RoleController.php
  Modules/Core/app/Http/Controllers/UserPreferenceController.php
  Modules/Core/app/Observers/UserObserver.php
  Modules/Core/app/Providers/AuthServiceProvider.php
  Modules/Core/app/Providers/CoreServiceProvider.php
  Modules/Core/app/Providers/EventServiceProvider.php
  Modules/Core/app/Providers/RouteServiceProvider.php
  Modules/Core/app/Services/PermissionCacheService.php
  Modules/Core/app/Services/SuperAdminService.php
Due: pint

refactor(groups): standardize FQCNs and add class docblocks
  Modules/Groups/app/Http/Controllers/Api/GroupsController.php
  Modules/Groups/app/Http/Controllers/GroupsController.php
  Modules/Groups/app/Models/Group.php
  Modules/Groups/app/Providers/AuthServiceProvider.php
  Modules/Groups/app/Providers/EventServiceProvider.php
  Modules/Groups/app/Providers/GroupsServiceProvider.php
  Modules/Groups/app/Providers/RouteServiceProvider.php
Due: pint

refactor(media): standardize FQCNs and add class docblocks
  Modules/Media/app/Console/CleanupTemporaryMedia.php
  Modules/Media/app/Http/Controllers/MediaController.php
  Modules/Media/app/Providers/AuthServiceProvider.php
  Modules/Media/app/Providers/EventServiceProvider.php
  Modules/Media/app/Providers/MediaServiceProvider.php
  Modules/Media/app/Providers/RouteServiceProvider.php
Due: pint

refactor(settings): standardize FQCNs and add class docblocks
  Modules/Settings/app/Http/Controllers/SettingsController.php
  Modules/Settings/app/Providers/AuthServiceProvider.php
  Modules/Settings/app/Providers/EventServiceProvider.php
  Modules/Settings/app/Providers/RouteServiceProvider.php
  Modules/Settings/app/Providers/SettingsServiceProvider.php
  Modules/Settings/app/Services/SettingsDashboardService.php
Due: pint

refactor(signal): standardize FQCNs and simplify docblocks
  Modules/Signal/app/Providers/SignalServiceProvider.php
Due: pint

refactor(treasury,vault): standardize FQCNs and simplify docblocks
  Modules/Treasury/app/Providers/EventServiceProvider.php
  Modules/Treasury/app/Providers/TreasuryServiceProvider.php
  Modules/Vault/app/Providers/VaultServiceProvider.php
Due: pint

feat(routine): add category support for habits
  Modules/Routine/app/Http/Controllers/RoutineController.php
  Modules/Routine/app/Http/Requests/StoreHabitRequest.php
  Modules/Routine/app/Http/Requests/UpdateHabitRequest.php
  Modules/Routine/app/Models/Habit.php
  Modules/Routine/app/Services/RoutineCategoryRegistrar.php
  Modules/Routine/database/migrations/2026_02_17_095510_create_habits_table.php
  Modules/Routine/resources/assets/js/Pages/Index.jsx
Due: eslint, prettier, pint

refactor(routine): standardize service provider and route setup
  Modules/Routine/app/Observers/HabitLogObserver.php
  Modules/Routine/app/Providers/RouteServiceProvider.php
  Modules/Routine/app/Providers/RoutineServiceProvider.php
  Modules/Routine/app/Services/HabitService.php
  Modules/Routine/app/Services/RoutinePermissionRegistrar.php
  Modules/Routine/routes/web.php
Due: pint

build(deps): update npm dependencies
  package-lock.json
  package.json
Due: none

chore: regenerate Ziggy route definitions
  resources/js/ziggy.js
Due: eslint, prettier

docs: rewrite README with comprehensive project documentation
  README.md
Due: none

style(ui): add blank line after use client directive in command component
  resources/js/Components/ui/command.jsx
Due: eslint, prettier

build(deps): upgrade eslint and related plugins to latest versions
  package-lock.json
  package.json
Due: none

feat(quickdraw): add QuickDraw whiteboard module
  Modules/QuickDraw/app/Http/Controllers/.gitkeep
  Modules/QuickDraw/app/Http/Controllers/QuickDrawController.php
  Modules/QuickDraw/app/Models/QuickDraw.php
  Modules/QuickDraw/app/Models/QuickDrawState.php
  Modules/QuickDraw/app/Policies/QuickDrawPolicy.php
  Modules/QuickDraw/app/Providers/.gitkeep
  Modules/QuickDraw/app/Providers/AuthServiceProvider.php
  Modules/QuickDraw/app/Providers/EventServiceProvider.php
  Modules/QuickDraw/app/Providers/QuickDrawServiceProvider.php
  Modules/QuickDraw/app/Providers/RouteServiceProvider.php
  Modules/QuickDraw/app/Services/QuickDrawMenuRegistrar.php
  Modules/QuickDraw/app/Services/QuickDrawPermissionRegistrar.php
  Modules/QuickDraw/composer.json
  Modules/QuickDraw/config/.gitkeep
  Modules/QuickDraw/config/config.php
  Modules/QuickDraw/database/factories/.gitkeep
  Modules/QuickDraw/database/migrations/.gitkeep
  Modules/QuickDraw/database/migrations/2026_02_23_122122_create_quick_draws_table.php
  Modules/QuickDraw/database/migrations/2026_02_23_122134_create_quick_draw_states_table.php
  Modules/QuickDraw/database/seeders/.gitkeep
  Modules/QuickDraw/database/seeders/QuickDrawDatabaseSeeder.php
  Modules/QuickDraw/module.json
  Modules/QuickDraw/resources/assets/.gitkeep
  Modules/QuickDraw/resources/assets/js/Hooks/useAutoSave.js
  Modules/QuickDraw/resources/assets/js/Pages/Index.jsx
  Modules/QuickDraw/resources/assets/js/Pages/Show.jsx
  Modules/QuickDraw/resources/assets/js/app.js
  Modules/QuickDraw/resources/assets/sass/app.scss
  Modules/QuickDraw/resources/views/.gitkeep
  Modules/QuickDraw/resources/views/components/layouts/master.blade.php
  Modules/QuickDraw/resources/views/index.blade.php
  Modules/QuickDraw/routes/.gitkeep
  Modules/QuickDraw/routes/api.php
  Modules/QuickDraw/routes/web.php
  Modules/QuickDraw/tests/Feature/.gitkeep
  Modules/QuickDraw/tests/Unit/.gitkeep
Due: eslint, prettier, pint

build(deps): add tldraw package for QuickDraw module
  package-lock.json
  package.json
Due: none

build(vite): add @QuickDraw path alias
  vite.config.js
Due: none

feat(ui): register PenTool icon for QuickDraw module
  resources/js/Utils/iconResolver.js
Due: eslint, prettier

feat(ui): add RichTextEditor component with Tiptap integration
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/Components/Common/RichTextEditor.jsx
  resources/js/Components/Common/RichTextFieldRHF.jsx
Due: eslint, prettier

feat(folio): integrate Folio module into app configuration
  resources/js/Utils/iconResolver.js
  resources/js/app.jsx
  resources/js/ziggy.js
  vite.config.js
Due: eslint, prettier

chore(lint): add missing browser globals to ESLint config
  eslint.config.js
Due: none

refactor(ui): update InfoDialog tech stack and simplify rendering
  resources/js/Components/InfoDialog.jsx
Due: eslint, prettier

docs: rewrite README with updated project description
  README.md
Due: none

refactor(folio): move resume-description styles to module-scoped CSS
  Modules/Folio/resources/assets/css/folio.css
  Modules/Folio/resources/assets/js/Components/ResumePreview.jsx
  Modules/Folio/resources/assets/js/Pages/Print.jsx
  resources/css/app.css
Due: eslint, prettier
